/* Modes - Dark Mode */
.is-dark {
	--bg-primary: var(--c--brand-secondary-500-main);
	--bg-primary-80: var(--c--brand-secondary-500-main-80);
	--gradient-pattern-100: var(--c--brand-primary-1200-main);
	--gradient-pattern-0: var(--c--brand-primary-1200-main-0);
	--gradient-primary-background-100: var(--c--brand-secondary-500-main);
	--gradient-primary-background-0: var(--c--brand-secondary-500-main-0);
	--bg-secondary: var(--c--brand-primary-100-main);
	--gradient-icon-100: var(--c--brand-primary-1200-main-0);
	--gradient-icon-0: var(--c--brand-primary-1200-main-0);
	--bg-tertiary: var(--c--brand-secondary-600-20);
	--button-label-primary-idle: var(--c--brand-primary-1200-main);
	--button-label-primary-hover: var(--c--brand-primary-1200-main);
	--button-label-primary-disabled: var(--c--brand-primary-700);
	--button-label-secondary-idle: var(--c--brand-primary-1200-main);
	--button-label-secondary-hover: var(--c--brand-tertiary-500-main);
	--button-label-secondary-disabled: var(--c--semantic-neutral-400-50);
	--button-label-link-idle: var(--c--brand-primary-1200-main);
	--button-label-link-hover: var(--c--brand-primary-1200-main);
	--button-label-link-disabled: var(--c--semantic-neutral-400-50);
	--button-bg-primary-idle: var(--c--brand-tertiary-500-main);
	--button-bg-primary-hover: var(--c--brand-primary-1300-0);
	--button-bg-primary-disabled: var(--c--brand-tertiary-400);
	--button-bg-secondary-idle: var(--c--brand-primary-500);
	--button-bg-secondary-hover: var(--c--brand-primary-1200-main);
	--button-bg-tertiary-hover: var(--c--brand-primary-700-main-20);
	--button-bg-icon-primary-idle: var(--c--brand-tertiary-500-main);
	--button-bg-icon-primary-hover: var(--c--brand-primary-1300-0);
	--button-bg-icon-primary-disabled: var(--c--brand-tertiary-400);
	--button-bg-icon-secondary-hover: var(--c--brand-tertiary-500-main);
	--button-icon-primary-idle: var(--c--brand-primary-1200-main);
	--button-icon-primary-hover: var(--c--brand-primary-1200-main);
	--button-icon-primary-disabled: var(--c--brand-primary-700);
	--button-icon-secondary-idle: var(--c--brand-primary-1200-main);
	--button-icon-secondary-hover: var(--c--brand-tertiary-500-main);
	--button-icon-icon-secondary-hover: var(--c--brand-primary-1200-main);
	--button-icon-secondary-disabled: var(--c--semantic-neutral-400-50);
	--button-icon-tertiary-idle: var(--c--brand-primary-500);
	--button-icon-tertiary-hover: var(--c--brand-primary-500);
	--button-icon-link-idle: var(--c--brand-primary-1200-main);
	--button-icon-link-hover: var(--c--brand-primary-1200-main);
	--button-icon-link-disable: var(--c--semantic-neutral-400-50);
	--button-border-primary-hover: var(--c--brand-primary-1200-main);
	--button-border-secondary-idle: var(--c--brand-primary-1200-main);
	--button-border-secondary-disabled: var(--c--semantic-neutral-400-50);
	--button-border-tertriary-idle: var(--c--semantic-neutral-1000);
	--button-border-tertiary-hover: var(--c--brand-primary-500);
	--button-border-focus: var(--c--brand-primary-1200-main);
	--button-border-icon-primary-hover: var(--c--brand-primary-1200-main);
	--button-border-icon-secondary-idle: var(--c--brand-primary-1200-main);
	--button-underline-link-idle: var(--c--brand-primary-1200-main);
	--button-border-icon-secondary-disabled: var(--c--semantic-neutral-400-50);
	--checkbox-bg-idle: var(--c--brand-tertiary-500-main);
	--checkbox-bg-hover: var(--c--brand-tertiary-600);
	--checkbox-bg-disabled: var(--c--brand-tertiary-200);
	--checkbox-bg-validation: var(--c--semantic-error-600-30);
	--checkbox-stroke-none-idle: var(--c--brand-primary-1000-main);
	--checkbox-stroke-none-hover: var(--c--brand-tertiary-600);
	--checkbox-stroke-none-disabled: var(--c--brand-primary-600);
	--checkbox-stroke-none-validation: var(--c--semantic-error-600);
	--txt-heading: var(--c--brand-primary-1200-main);
	--txt-subheading: var(--c--brand-primary-1200-main);
	--txt-paragraph: var(--c--brand-primary-1000-main);
	--txt-text-link: var(--c--brand-primary-1200-main);
	--txt-text-hover: var(--c--brand-tertiary-500-main);
	--txt-ui-body: var(--c--semantic-neutral-1000);
	--txt-big-number: var(--c--brand-tertiary-500-main);
	--txt-caption: var(--c--brand-primary-700);
	--input-field-txt-label: var(--c--brand-primary-1200-main);
	--input-field-txt-hint: var(--c--brand-primary-1200-main-50);
	--input-field-txt-hover-text: var(--c--brand-primary-1200-main-50);
	--input-field-txt-active-text: var(--c--brand-primary-1200-main);
	--input-field-txt-disabled: var(--c--semantic-neutral-400-50);
	--input-field-txt-optional: var(--c--brand-primary-1200-main-50);
	--input-field-txt-validation: var(--c--semantic-error-600);
	--input-field-bg-primary-idle: var(--c--brand-primary-1200-main);
	--input-field-bg-primary-active: var(--c--brand-primary-800-10);
	--input-field-bg-disabled: var(--c--brand-primary-500-10);
	--input-field-border-border-idle: var(--c--brand-primary-1200-main-50);
	--input-field-border-border-hover: var(--c--brand-primary-1200-main);
	--input-field-border-border-active: var(--c--brand-primary-1200-main);
	--input-field-border-border-validation: var(--c--semantic-error-600);
	--input-field-border-disabled: var(--c--semantic-neutral-400-50);
	--input-field-border-focus: var(--c--semantic-neutral-1000);
	--input-field-icon-icon-idle: var(--c--brand-primary-1200-main-50);
	--input-field-icon-icon-dropdown-idle: var(--c--brand-primary-1200-main);
	--input-field-icon-icon-hover: var(--c--brand-primary-800);
	--input-field-icon-icon-diabled: var(--c--semantic-neutral-400-50);
	--input-field-icon-icon-validation: var(--c--brand-primary-500);
	--input-field-note-info-note: var(--c--brand-primary-500);
	--input-field-note-validation: var(--c--brand-primary-500);
	--breadcrumbs-txt-default: var(--c--brand-primary-800);
	--logo-lantern: var(--c--brand-primary-1200-main);
	--logo-client_default: var(--c--brand-primary-1200-main);
	--logo-client_hover: var(--c--brand-primary-1200-main-70);
	--accordion-txt-heading: var(--c--brand-primary-1200-main);
	--accordion-txt-heading-slider: var(--c--brand-primary-1200-main-50);
	--accordion-txt-heading-hover: var(--c--brand-tertiary-500-main);
	--accordion-txt-paragraph: var(--c--brand-primary-1200-main-70);
	--accordion-elements-divider: var(--c--semantic-neutral-400-50);
	--accordion-elements-icon: var(--c--brand-primary-1200-main);
	--accordion-elements-icon-bg: var(--c--semantic-neutral-900-10);
	--caption-txt: var(--c--brand-primary-1200-main);
	--card-guide-blog-txt-heading-idle: var(--c--brand-primary-1200-main);
	--card-guide-blog-txt-heading-hover: var(--c--brand-primary-100-main);
	--card-guide-blog-txt-paragraph-idle: var(--c--brand-primary-1200-main);
	--card-guide-blog-txt-paragraph-hover: var(--c--brand-primary-100-main);
	--card-guide-blog-bg-primary: var(--c--brand-secondary-600-20);
	--card-guide-blog-bg-hover: var(--c--brand-primary-1200-main);
	--caption-bg-idle: var(--c--semantic-neutral-900-10);
	--footer-bg-primary: var(--c--brand-secondary-500-main);
	--footer-bg-secondary: var(--c--brand-primary-100-main);
	--caption-bg-blog: var(--c--semantic-neutral-900-10);
	--footer-icon-primary-idle: var(--c--brand-primary-700);
	--footer-txt-link: var(--c--brand-primary-1200-main-50);
	--footer-txt-footer-caption: var(--c--brand-primary-1200-main);
	--footer-icon-primary-hover: var(--c--brand-primary-1200-main);
	--footer-icon-bg-idle: var(--c--semantic-neutral-900-10);
	--footer-icon-bg-hover: var(--c--brand-tertiary-500-main);
	--footer-icon-divider: var(--c--semantic-neutral-400-50);
	--radio-button-radio-fill-idle: var(--c--brand-primary-500);
	--radio-button-radio-fill-hover: var(--c--brand-primary-400);
	--radio-button-radio-fill-disabled: var(--c--brand-primary-700-main-20);
	--radio-button-stroke-none-idle: var(--c--semantic-neutral-900);
	--radio-button-stroke-none-hover: var(--c--brand-primary-500);
	--radio-button-stroke-none-disabled: var(--c--semantic-neutral-900-10);
	--breadcrumbs-icon-default: var(--c--brand-primary-700);
	--breadcrumbs-txt-hover: var(--c--brand-primary-1200-main);
	--breadcrumbs-txt-active: var(--c--brand-primary-1200-main);
	--breadcrumbs-txt-focus: var(--c--brand-primary-1200-main);
	--navigation-icon-idle: var(--c--brand-primary-800);
	--navigation-icon-muted: var(--c--brand-neutral-1000-70);
	--navigation-icon-hover: var(--c--brand-primary-500);
	--navigation-mobile-subnode: var(--c--brand-primary-100-50);
	--navigation-txt-navigation: var(--c--semantic-neutral-1000);
	--navigation-txt-muted: var(--c--brand-neutral-1000-70);
	--navigation-slider-nav-nav-focus: var(--c--brand-tertiary-500-main);
	--navigation-slider-nav-nav-disable: var(--c--brand-secondary-600);
	--interface-divider-divider: var(--c--semantic-neutral-400-50);
	--interface-divider-divider-cards: var(--c--brand-primary-100-main);
	--interface-content-icon-bg-primary-idle: var(--c--semantic-neutral-1000);
	--interface-content-icon-bg-secondary-idle: var(--c--brand-primary-500);
	--interface-content-icon-icon-primary-idle: var(--c--brand-primary-500);
	--interface-content-icon-icon-secondary-idle: var(--c--semantic-neutral-1000);
	--interface-content-icon-icon-tertiary-idle: var(--c--semantic-neutral-1000);
	--interface-interactive-icon-icon-idle: var(--c--semantic-neutral-1000);
	--interface-interactive-icon-icon-hover: var(--c--brand-neutral-1000-70);
	--interface-tags-bg-idle: var(--c--brand-primary-300);
	--interface-tags-bg-hover: var(--c--brand-primary-200);
	--interface-tags-txt: var(--c--semantic-neutral-1000);
	--elevation-surface-sunken-default: var(--c--semantic-neutral-50);
	--elevation-surface-sunken-hovered: var(--c--semantic-neutral-50);
	--elevation-surface-sunken-pressed: var(--c--semantic-neutral-50);
	--elevation-surface-base-default: var(--c--semantic-neutral-100);
	--elevation-surface-raised-default: var(--c--semantic-neutral-300);
	--elevation-surface-raised-hovered: var(--c--semantic-neutral-300);
	--elevation-surface-raised-pressed: var(--c--semantic-neutral-300);
	--elevation-surface-base-hovered: var(--c--semantic-neutral-50);
	--elevation-surface-base-pressed: var(--c--semantic-neutral-50);
	--elevation-surface-overlay-default: var(--c--semantic-neutral-200);
	--elevation-surface-overlay-hovered: var(--c--semantic-neutral-400-50);
	--elevation-surface-overlay-pressed: var(--c--semantic-neutral-200);
	--elevation-border-overlay-default: var(--c--semantic-neutral-300-40);
	--elevation-border-overlay-hovered: var(--c--semantic-neutral-400);
	--elevation-border-overlay-pressed: var(--c--semantic-neutral-400);
	--elevation-border-raised-default: var(--c--semantic-neutral-400);
	--elevation-border-raised-hovered: var(--c--semantic-neutral-400);
	--elevation-border-raised-pressed: var(--c--semantic-neutral-400);
	--checkbox-icon-check-icon-idle: var(--c--brand-primary-1200-main);
	--checkbox-icon-check-icon-disabled: var(--c--brand-primary-700);
	--bg-card-bg: var(--c--semantic-neutral-900-10);
	--card-guide-blog-caption-txt-idle: var(--c--brand-primary-1200-main);
	--card-guide-blog-caption-txt-hover: var(--c--brand-primary-100-main);
	--card-guide-blog-caption-bg-idle: var(--c--semantic-neutral-900-10);
	--card-guide-blog-caption-bg-hover: var(--c--brand-primary-900);
	--card-feature-txt-heading: var(--c--brand-primary-1200-main);
	--card-feature-icon-primary: var(--c--brand-primary-1200-main);
	--card-feature-txt-paragraph: var(--c--brand-primary-1200-main-70);
	--card-feature-bg-primary: var(--c--brand-secondary-600-20);
	--card-team-txt-heading: var(--c--brand-primary-1200-main);
	--card-team-icon-primary: var(--c--brand-primary-1200-main);
	--card-team-txt-paragraph: var(--c--brand-primary-1200-main-70);
	--card-team-bg-primary: var(--c--brand-secondary-600-20);
	--card-team-txt-caption: var(--c--brand-primary-1200-main-50);
	--card-testimonial-txt-heading: var(--c--brand-primary-1200-main);
	--card-testimonial-icon-primary: var(--c--brand-primary-1200-main);
	--card-testimonial-txt-paragraph: var(--c--brand-primary-1200-main-70);
	--card-testimonial-bg-primary: var(--c--brand-secondary-600-20);
	--card-testimonial-txt-caption: var(--c--brand-primary-1200-main-50);
	--cta-box: var(--c--brand-secondary-500-main);
	--cta-bg-bottom-light: var(--c--brand-primary-1200-main);
	--cta-bg-bottom-accent: var(--c--brand-tertiary-500-main);
	--cta-bg-bottom-dark: var(--c--brand-secondary-500-main);
	--cta-bg-top-light: var(--c--brand-primary-1200-main);
	--cta-bg-top-accent: var(--c--brand-tertiary-500-main);
	--cta-bg-top-dark: var(--c--brand-secondary-500-main);
}


/* Modes - Light Mode */
.is-light {
	--bg-primary: var(--c--brand-primary-1200-main);
	--bg-primary-80: var(--c--brand-primary-1200-main-80);
	--gradient-pattern-100: var(--c--brand-tertiary-500-main);
	--gradient-pattern-0: var(--c--brand-tertiary-500-main-0);
	--gradient-primary-background-100: var(--c--brand-primary-1200-main);
	--gradient-primary-background-0: var(--c--brand-primary-1200-main-0);
	--bg-secondary: var(--c--brand-primary-1300);
	--gradient-icon-100: var(--c--brand-tertiary-500-main);
	--gradient-icon-0: var(--c--brand-tertiary-500-main-0);
	--bg-tertiary: var(--c--brand-primary-950);
	--button-label-primary-idle: var(--c--brand-primary-1200-main);
	--button-label-primary-hover: var(--c--brand-primary-1200-main);
	--button-label-primary-disabled: var(--c--brand-primary-1200-main);
	--button-label-secondary-idle: var(--c--brand-primary-100-main);
	--button-label-secondary-hover: var(--c--brand-primary-1200-main);
	--button-label-secondary-disabled: var(--c--brand-primary-700);
	--button-label-link-idle: var(--c--brand-primary-100-main);
	--button-label-link-hover: var(--c--brand-primary-100-main);
	--button-label-link-disabled: var(--c--brand-primary-700);
	--button-bg-primary-idle: var(--c--brand-tertiary-500-main);
	--button-bg-primary-hover: var(--c--brand-secondary-500-main);
	--button-bg-primary-disabled: var(--c--brand-tertiary-600);
	--button-bg-secondary-idle: var(--c--brand-primary-500);
	--button-bg-secondary-hover: var(--c--brand-tertiary-500-main);
	--button-bg-tertiary-hover: var(--c--brand-primary-700-main-20);
	--button-bg-icon-primary-idle: var(--c--brand-tertiary-500-main);
	--button-bg-icon-primary-hover: var(--c--brand-secondary-500-main);
	--button-bg-icon-primary-disabled: var(--c--brand-tertiary-600);
	--button-bg-icon-secondary-hover: var(--c--brand-tertiary-500-main);
	--button-icon-primary-idle: var(--c--brand-primary-1200-main);
	--button-icon-primary-hover: var(--c--brand-primary-1200-main);
	--button-icon-primary-disabled: var(--c--brand-primary-1200-main);
	--button-icon-secondary-idle: var(--c--brand-primary-100-main);
	--button-icon-secondary-hover: var(--c--brand-primary-1200-main);
	--button-icon-icon-secondary-hover: var(--c--brand-primary-1200-main);
	--button-icon-secondary-disabled: var(--c--brand-primary-700);
	--button-icon-tertiary-idle: var(--c--brand-primary-500);
	--button-icon-tertiary-hover: var(--c--brand-primary-500);
	--button-icon-link-idle: var(--c--brand-primary-100-main);
	--button-icon-link-hover: var(--c--brand-primary-100-main);
	--button-icon-link-disable: var(--c--brand-primary-700);
	--button-border-primary-hover: var(--c--brand-primary-1300-0);
	--button-border-secondary-idle: var(--c--brand-primary-700);
	--button-border-secondary-disabled: var(--c--brand-primary-800);
	--button-border-tertriary-idle: var(--c--brand-primary-200);
	--button-border-tertiary-hover: var(--c--brand-primary-500);
	--button-border-focus: var(--c--brand-primary-100-main);
	--button-border-icon-primary-hover: var(--c--brand-primary-1300-0);
	--button-border-icon-secondary-idle: var(--c--brand-primary-700);
	--button-underline-link-idle: var(--c--brand-primary-100-main);
	--button-border-icon-secondary-disabled: var(--c--brand-primary-800);
	--checkbox-bg-idle: var(--c--brand-tertiary-500-main);
	--checkbox-bg-hover: var(--c--brand-tertiary-400);
	--checkbox-bg-disabled: var(--c--brand-tertiary-800);
	--checkbox-bg-validation: var(--c--semantic-error-600-30);
	--checkbox-stroke-none-idle: var(--c--brand-primary-600);
	--checkbox-stroke-none-hover: var(--c--brand-tertiary-400);
	--checkbox-stroke-none-disabled: var(--c--brand-primary-900);
	--checkbox-stroke-none-validation: var(--c--semantic-error-600);
	--txt-heading: var(--c--brand-primary-100-main);
	--txt-subheading: var(--c--brand-primary-200);
	--txt-paragraph: var(--c--brand-primary-300);
	--txt-text-link: var(--c--brand-primary-100-main);
	--txt-text-hover: var(--c--brand-tertiary-500-main);
	--txt-ui-body: var(--c--brand-primary-200);
	--txt-big-number: var(--c--brand-tertiary-500-main);
	--txt-caption: var(--c--brand-primary-500);
	--input-field-txt-label: var(--c--brand-primary-100-main);
	--input-field-txt-hint: var(--c--brand-primary-700);
	--input-field-txt-hover-text: var(--c--brand-primary-700);
	--input-field-txt-active-text: var(--c--brand-primary-100-main);
	--input-field-txt-disabled: var(--c--brand-primary-700);
	--input-field-txt-optional: var(--c--brand-primary-700);
	--input-field-txt-validation: var(--c--semantic-error-600);
	--input-field-bg-primary-idle: var(--c--brand-primary-1200-main);
	--input-field-bg-primary-active: var(--c--brand-primary-1300-0);
	--input-field-bg-disabled: var(--c--brand-primary-500-10);
	--input-field-border-border-idle: var(--c--brand-primary-700);
	--input-field-border-border-hover: var(--c--brand-primary-100-main);
	--input-field-border-border-active: var(--c--brand-primary-100-main);
	--input-field-border-border-validation: var(--c--semantic-error-600);
	--input-field-border-disabled: var(--c--brand-primary-800);
	--input-field-border-focus: var(--c--brand-primary-100-main);
	--input-field-icon-icon-idle: var(--c--brand-primary-600);
	--input-field-icon-icon-dropdown-idle: var(--c--brand-primary-100-main);
	--input-field-icon-icon-hover: var(--c--brand-primary-500);
	--input-field-icon-icon-diabled: var(--c--brand-primary-700);
	--input-field-icon-icon-validation: var(--c--brand-primary-500);
	--input-field-note-info-note: var(--c--brand-primary-500);
	--input-field-note-validation: var(--c--brand-primary-500);
	--breadcrumbs-txt-default: var(--c--brand-primary-500);
	--logo-lantern: var(--c--brand-primary-100-main);
	--logo-client_default: var(--c--brand-primary-600);
	--logo-client_hover: var(--c--brand-primary-700);
	--accordion-txt-heading: var(--c--brand-primary-100-main);
	--accordion-txt-heading-slider: var(--c--brand-primary-600);
	--accordion-txt-heading-hover: var(--c--brand-tertiary-500-main);
	--accordion-txt-paragraph: var(--c--brand-primary-300);
	--accordion-elements-divider: var(--c--brand-primary-800);
	--accordion-elements-icon: var(--c--brand-primary-100-main);
	--accordion-elements-icon-bg: var(--c--brand-primary-950);
	--caption-txt: var(--c--brand-primary-100-main);
	--card-guide-blog-txt-heading-idle: var(--c--brand-primary-100-main);
	--card-guide-blog-txt-heading-hover: var(--c--brand-primary-1200-main);
	--card-guide-blog-txt-paragraph-idle: var(--c--brand-primary-100-main);
	--card-guide-blog-txt-paragraph-hover: var(--c--brand-primary-1200-main);
	--card-guide-blog-bg-primary: var(--c--brand-primary-950);
	--card-guide-blog-bg-hover: var(--c--brand-secondary-500-main);
	--caption-bg-idle: var(--c--brand-primary-500-10);
	--footer-bg-primary: var(--c--brand-primary-1200-main);
	--footer-bg-secondary: var(--c--brand-primary-1300);
	--caption-bg-blog: var(--c--brand-primary-900);
	--footer-icon-primary-idle: var(--c--brand-primary-500);
	--footer-txt-link: var(--c--brand-primary-500);
	--footer-txt-footer-caption: var(--c--brand-primary-100-main);
	--footer-icon-primary-hover: var(--c--brand-primary-1200-main);
	--footer-icon-bg-idle: var(--c--brand-primary-950);
	--footer-icon-bg-hover: var(--c--brand-tertiary-500-main);
	--footer-icon-divider: var(--c--brand-primary-800);
	--radio-button-radio-fill-idle: var(--c--brand-primary-500);
	--radio-button-radio-fill-hover: var(--c--brand-primary-400);
	--radio-button-radio-fill-disabled: var(--c--semantic-neutral-500);
	--radio-button-stroke-none-idle: var(--c--semantic-neutral-700);
	--radio-button-stroke-none-hover: var(--c--brand-primary-500);
	--radio-button-stroke-none-disabled: var(--c--semantic-neutral-700);
	--breadcrumbs-icon-default: var(--c--brand-primary-700);
	--breadcrumbs-txt-hover: var(--c--brand-primary-100-main);
	--breadcrumbs-txt-active: var(--c--brand-primary-100-main);
	--breadcrumbs-txt-focus: var(--c--brand-primary-500);
	--navigation-icon-idle: var(--c--brand-primary-200);
	--navigation-icon-muted: var(--c--brand-primary-200-main-30);
	--navigation-icon-hover: var(--c--brand-primary-500);
	--navigation-mobile-subnode: var(--c--brand-neutral-900-40);
	--navigation-txt-navigation: var(--c--brand-primary-200);
	--navigation-txt-muted: var(--c--brand-primary-200-main-30);
	--navigation-slider-nav-nav-focus: var(--c--brand-tertiary-500-main);
	--navigation-slider-nav-nav-disable: var(--c--brand-primary-800);
	--interface-divider-divider: var(--c--brand-primary-900);
	--interface-divider-divider-cards: var(--c--semantic-neutral-700);
	--interface-content-icon-bg-primary-idle: var(--c--brand-primary-200);
	--interface-content-icon-bg-secondary-idle: var(--c--brand-primary-500);
	--interface-content-icon-icon-primary-idle: var(--c--brand-primary-500);
	--interface-content-icon-icon-secondary-idle: var(--c--brand-primary-1000-main);
	--interface-content-icon-icon-tertiary-idle: var(--c--brand-primary-200);
	--interface-interactive-icon-icon-idle: var(--c--brand-primary-200);
	--interface-interactive-icon-icon-hover: var(--c--brand-primary-400);
	--interface-tags-bg-idle: var(--c--brand-primary-1000-main);
	--interface-tags-bg-hover: var(--c--brand-primary-800);
	--interface-tags-txt: var(--c--brand-primary-200);
	--elevation-surface-sunken-default: var(--c--semantic-neutral-500);
	--elevation-surface-sunken-hovered: var(--c--semantic-neutral-400);
	--elevation-surface-sunken-pressed: var(--c--semantic-neutral-400);
	--elevation-surface-base-default: var(--c--semantic-neutral-900);
	--elevation-surface-raised-default: var(--c--semantic-neutral-1000);
	--elevation-surface-raised-hovered: var(--c--semantic-neutral-1000);
	--elevation-surface-raised-pressed: var(--c--semantic-neutral-1000);
	--elevation-surface-base-hovered: var(--c--semantic-neutral-800);
	--elevation-surface-base-pressed: var(--c--semantic-neutral-800);
	--elevation-surface-overlay-default: var(--c--semantic-neutral-1000);
	--elevation-surface-overlay-hovered: var(--c--semantic-neutral-800-40);
	--elevation-surface-overlay-pressed: var(--c--semantic-neutral-900);
	--elevation-border-overlay-default: var(--c--semantic-neutral-700);
	--elevation-border-overlay-hovered: var(--c--semantic-neutral-700);
	--elevation-border-overlay-pressed: var(--c--semantic-neutral-700);
	--elevation-border-raised-default: var(--c--semantic-neutral-800);
	--elevation-border-raised-hovered: var(--c--semantic-neutral-800);
	--elevation-border-raised-pressed: var(--c--semantic-neutral-800);
	--checkbox-icon-check-icon-idle: var(--c--brand-primary-1200-main);
	--checkbox-icon-check-icon-disabled: var(--c--brand-primary-1200-main);
	--bg-card-bg: var(--c--brand-primary-900);
	--card-guide-blog-caption-txt-idle: var(--c--brand-primary-100-main);
	--card-guide-blog-caption-txt-hover: var(--c--brand-primary-1200-main);
	--card-guide-blog-caption-bg-idle: var(--c--brand-primary-900);
	--card-guide-blog-caption-bg-hover: var(--c--semantic-neutral-900-10);
	--card-feature-txt-heading: var(--c--brand-primary-100-main);
	--card-feature-icon-primary: var(--c--brand-primary-100-main);
	--card-feature-txt-paragraph: var(--c--brand-primary-300);
	--card-feature-bg-primary: var(--c--brand-primary-950);
	--card-team-txt-heading: var(--c--brand-primary-100-main);
	--card-team-icon-primary: var(--c--brand-primary-100-main);
	--card-team-txt-paragraph: var(--c--brand-primary-300);
	--card-team-bg-primary: var(--c--brand-primary-950);
	--card-team-txt-caption: var(--c--brand-primary-500);
	--card-testimonial-txt-heading: var(--c--brand-primary-100-main);
	--card-testimonial-icon-primary: var(--c--brand-primary-100-main);
	--card-testimonial-txt-paragraph: var(--c--brand-primary-300);
	--card-testimonial-bg-primary: var(--c--brand-primary-950);
	--card-testimonial-txt-caption: var(--c--brand-primary-500);
	--cta-box: var(--c--brand-primary-950);
	--cta-bg-bottom-light: var(--c--brand-primary-1200-main);
	--cta-bg-bottom-accent: var(--c--brand-tertiary-500-main);
	--cta-bg-bottom-dark: var(--c--brand-secondary-500-main);
	--cta-bg-top-light: var(--c--brand-primary-1200-main);
	--cta-bg-top-accent: var(--c--brand-tertiary-500-main);
	--cta-bg-top-dark: var(--c--brand-secondary-500-main);
}
