@use 'mixins' as *;

:root {
	// FONTS
	--font-head: 'presicav', serif;
	--font-std: sans-serif;

	/* COLORS */
	--c-white: rgb(255, 255, 255);
	--c-black: rgb(0, 0, 0);
	--c-accent: rgb(0, 250, 154);
	--c-invalid: rgb(179, 11, 11);
	--c--brand-primary-0: rgba(0, 0, 0, 1);
	--c--brand-primary-100-main: rgba(49, 30, 4, 1);
	--c--brand-primary-200: rgba(78, 61, 35, 1);
	--c--brand-primary-300: rgba(107, 92, 66, 1);
	--c--brand-primary-400: rgba(107, 92, 66, 1);
	--c--brand-primary-500: rgba(136, 123, 97, 1);
	--c--brand-primary-500-10: rgba(136, 123, 97, 0.10000000149011612);
	--c--brand-primary-600: rgba(165, 154, 128, 1);
	--c--brand-primary-700: rgba(194, 185, 159, 1);
	--c--brand-primary-800: rgba(223, 216, 190, 1);
	--c--brand-primary-900: rgba(235, 230, 203, 1);
	--c--brand-primary-950: rgba(247, 240, 216, 1);
	--c--brand-primary-1000-main: rgba(247, 243, 216, 1);
	--c--brand-primary-1100: rgba(251, 246, 224, 1);
	--c--brand-primary-1200-main: rgba(254, 248, 232, 1);
	--c--brand-primary-1200-main-70: rgba(254, 248, 232, 0.699999988079071);
	--c--brand-primary-1200-main-50: rgba(254, 248, 232, 0.5);
	--c--brand-primary-1200-main-80: rgba(254, 248, 232, 0.8);
	--c--brand-primary-1200-main-0: rgba(254, 248, 232, 0);
	--c--brand-primary-1300: rgba(255, 255, 255, 1);
	--c--brand-primary-1300-0: rgba(255, 255, 255, 0);
	--c--brand-secondary-200: rgba(20, 20, 20, 1);
	--c--brand-secondary-400: rgba(40, 40, 40, 1);
	--c--brand-secondary-500-main: rgba(60, 60, 60, 1);
	--c--brand-secondary-500-main-80: rgba(60, 60, 60, 0.8);
	--c--brand-secondary-500-main-0: rgba(60, 60, 60, 0);
	--c--brand-secondary-600: rgba(80, 80, 80, 1);
	--c--brand-secondary-600-20: rgba(80, 80, 80, 0.3);
	--c--brand-secondary-700: rgba(100, 100, 100, 1);
	--c--brand-tertiary-100: rgba(0, 0, 51, 1);
	--c--brand-tertiary-200: rgba(0, 0, 82, 1);
	--c--brand-tertiary-300: rgba(0, 0, 123, 1);
	--c--brand-tertiary-300-70: rgba(0, 0, 123, 0.7);
	--c--brand-tertiary-400: rgba(0, 0, 174, 1);
	--c--brand-tertiary-400-40: rgba(0, 0, 174, 0.4);
	--c--brand-tertiary-500-main: rgba(0, 0, 225, 1);
	--c--brand-tertiary-500-main-80: rgba(0, 0, 225, 0.8);
	--c--brand-tertiary-500-main-0: rgba(0, 0, 225, 0);
	--c--brand-tertiary-600: rgba(0, 41, 82, 1);
	--c--brand-tertiary-600-60: rgba(0, 41, 82, 0.6);
	--c--brand-tertiary-700: rgba(0, 41, 123, 1);
	--c--brand-tertiary-800: rgba(0, 41, 174, 1);
	--c--brand-tertiary-900: rgba(0, 41, 225, 1);
	--c--semantic-neutral-0: rgba(0, 0, 0, 1);
	--c--semantic-neutral-50: rgba(26, 26, 26, 1);
	--c--semantic-neutral-100: rgba(45, 46, 48, 1);
	--c--semantic-neutral-200: rgba(90, 91, 94, 1);
	--c--semantic-neutral-300: rgba(129, 131, 135, 1);
	--c--semantic-neutral-300-40: rgba(129, 131, 135, 0.4000000059604645);
	--c--semantic-neutral-400: rgba(162, 165, 170, 1);
	--c--semantic-neutral-400-50: rgba(162, 165, 170, 0.5);
	--c--semantic-neutral-500: rgba(189, 191, 197, 1);
	--c--semantic-neutral-600: rgba(210, 212, 217, 1);
	--c--semantic-neutral-700: rgba(227, 228, 233, 1);
	--c--semantic-neutral-800: rgba(239, 240, 244, 1);
	--c--semantic-neutral-800-40: rgba(239, 240, 244, 0.4000000059604645);
	--c--semantic-neutral-900: rgba(249, 249, 251, 1);
	--c--semantic-neutral-900-10: rgba(249, 249, 251, 0.10000000149011612);
	--c--semantic-neutral-1000: rgba(255, 255, 255, 1);
	--c--semantic-neutral-1000-60: rgba(255, 255, 255, 0.6000000238418579);
	--c--semantic-success-0: rgba(0, 26, 0, 1);
	--c--semantic-success-200: rgba(3, 74, 3, 1);
	--c--semantic-success-400: rgba(5, 118, 5, 1);
	--c--semantic-success-600: rgba(72, 223, 72, 1);
	--c--semantic-success-800: rgba(149, 245, 149, 1);
	--c--semantic-success-1000: rgba(245, 255, 245, 1);
	--c--semantic-info-0: rgba(0, 17, 26, 1);
	--c--semantic-info-200: rgba(3, 50, 74, 1);
	--c--semantic-info-400: rgba(25, 127, 178, 1);
	--c--semantic-info-600: rgba(71, 171, 221, 1);
	--c--semantic-info-800: rgba(148, 213, 245, 1);
	--c--semantic-info-1000: rgba(245, 252, 255, 1);
	--c--semantic-warning-0: rgba(26, 16, 0, 1);
	--c--semantic-warning-200: rgba(74, 48, 3, 1);
	--c--semantic-warning-400: rgba(178, 122, 25, 1);
	--c--semantic-warning-600: rgba(221, 159, 53, 1);
	--c--semantic-warning-800: rgba(245, 209, 148, 1);
	--c--semantic-warning-1000: rgba(255, 251, 245, 1);
	--c--semantic-error-0: rgba(26, 0, 0, 1);
	--c--semantic-error-200: rgba(74, 3, 3, 1);
	--c--semantic-error-300: rgba(128, 0, 0, 1);
	--c--semantic-error-400: rgba(182, 26, 26, 1);
	--c--semantic-error-600: rgba(223, 72, 72, 1);
	--c--semantic-error-600-30: rgba(223, 72, 72, 0.30000001192092896);
	--c--semantic-error-800: rgba(245, 149, 149, 1);
	--c--semantic-error-1000: rgba(255, 245, 245, 1);
	--font-weight-100: 100;
	--font-weight-100-italic: thin italic;
	--font-weight-200: 200;
	--font-weight-200-italic: light italic;
	--font-weight-400: 400;
	--font-weight-400-italic: regular italic;
	--font-weight-500: 500;
	--font-weight-500-italic: medium italic;
	--font-weight-700: 600;
	--font-weight-700-italic: semi bold italic;
	--font-weight-800: 700;
	--font-value-4: 4px;
	--font-weight-800-italic: bold italic;
	--font-weight-900: extra bold;
	--font-weight-900-italic: extra bold italic;
	--font-value-9: 9px;
	--font-value-11: 11px;
	--font-value-13: 13px;
	--font-value-15: 15px;
	--font-value-17: 17px;
	--font-value-20: 20px;
	--font-value-22: 22px;
	--font-value-24: 24px;
	--font-value-26: 26px;
	--font-value-28: 28px;
	--font-value-32: 32px;
	--font-value-36: 36px;
	--font-value-40: 40px;
	--font-value-44: 44px;
	--font-value-48: 48px;
	--font-value-52: 52px;
	--font-value-56: 56px;
	--font-value-60: 60px;
	--font-value-64: 64px;
	--font-value-68: 68px;
	--font-value-72: 72px;
	--font-value-78: 78px;
	--font-value-84: 84px;
	--font-value-92: 92px;
	--font-value-100: 100px;
	--font-value-108: 108px;
	--font-family-primary: 'Poppins', serif;
	--font-family-secondary: 'DM Sans', serif;
	--radius-4: 4px;
	--radius-6: 6px;
	--radius-8: 8px;
	--radius-10: 10px;
	--radius-12: 12px;
	--spacing-2: 2px;
	--radius-16: 16px;
	--radius-20: 20px;
	--radius-24: 24px;
	--radius-28: 28px;
	--radius-40: 40px;
	--spacing-4: 4px;
	--spacing-8: 8px;
	--spacing-10: 10px;
	--spacing-12: 12px;
	--spacing-16: 16px;
	--spacing-20: 20px;
	--spacing-24: 24px;
	--spacing-28: 28px;
	--spacing-32: 32px;
	--spacing-36: 36px;
	--spacing-40: 40px;
	--spacing-44: 44px;
	--spacing-48: 48px;
	--spacing-52: 52px;
	--spacing-56: 56px;
	--spacing-60: 60px;
	--spacing-64: 64px;
	--spacing-72: 72px;
	--spacing-76: 76px;
	--spacing-80: 80px;
	--spacing-88: 88px;
	--spacing-96: 96px;
	--spacing-104: 104px;
	--spacing-108: 108px;
	--spacing-116: 116px;
	--spacing-120: 120px;
	--spacing-128: 128px;
	--spacing-132: 132px;
	--spacing-140: 140px;
	--spacing-144: 144px;
}


/* Responsive - XSmall(320-767) */
:root {
	--border-radius-xxs: var(--radius-4);
	--border-radius-xs: var(--radius-6);
	--border-radius-s: var(--radius-8);
	--border-radius-m: var(--radius-12);
	--border-radius-lg: var(--radius-16);
	--border-radius-xl: var(--radius-20);
	--border-radius-xxl: var(--radius-28);
	--border-radius-3xl: var(--radius-28);
	--padding-vertical-4xl: var(--spacing-60);
	--padding-vertical-3xl: var(--spacing-52);
	--padding-vertical-2xl: var(--spacing-48);
	--padding-vertical-xl: var(--spacing-40);
	--padding-vertical-lg: var(--spacing-32);
	--padding-vertical-md: var(--spacing-28);
	--padding-vertical-s: var(--spacing-24);
	--padding-vertical-xs: var(--spacing-20);
	--padding-vertical-2xs: var(--spacing-16);
	--padding-vertical-3xs: var(--spacing-8);
	--t--heading-1: var(--font-value-40);
	--t--subheading-1: var(--font-value-24);
	--t--paragraph-1: var(--font-value-20);
	--t--paragraph-2: var(--font-value-17);
	--t--paragraph-3: var(--font-value-15);
	--t--paragraph-4: var(--font-value-13);
	--t--subheading-2: var(--font-value-22);
	--t--subheading-3: var(--font-value-20);
	--t--subheading-4: var(--font-value-20);
	--t--heading-2: var(--font-value-36);
	--t--heading-3: var(--font-value-32);
	--t--heading-4: var(--font-value-28);
	--t--heading-5: var(--font-value-24);
	--t--heading-6: var(--font-value-20);
	--t--heading-7: var(--font-value-17);
	--t--heading-8: var(--font-value-15);
	--t--btn-1: var(--font-value-22);
	--t--btn-2: var(--font-value-20);
	--t--btn-3: var(--font-value-17);
	--t--btn-4: var(--font-value-15);
	--t--btn-5: var(--font-value-13);
	--t--line-hight-primary-1: var(--font-value-44);
	--t--line-hight-primary-2: var(--font-value-44);
	--t--line-hight-primary-3: var(--font-value-40);
	--t--line-hight-primary-4: var(--font-value-36);
	--t--line-hight-primary-5: var(--font-value-32);
	--t--line-hight-primary-6: var(--font-value-26);
	--t--line-hight-primary-7: var(--font-value-22);
	--t--line-hight-primary-8: var(--font-value-20);
	--t--line-hight-primary-9: var(--font-value-17);
	--t--line-hight-secondary-05: var(--font-value-44);
	--t--line-hight-secondary-1: var(--font-value-36);
	--t--line-hight-secondary-2: var(--font-value-32);
	--t--line-hight-secondary-3: var(--font-value-28);
	--t--line-hight-secondary-3-5: var(--font-value-32);
	--t--line-hight-secondary-4: var(--font-value-28);
	--t--line-hight-secondary-5: var(--font-value-26);
	--t--line-hight-secondary-6: var(--font-value-22);
	--t--line-hight-secondary-7: var(--font-value-20);
	--t--line-hight-secondary-8: var(--font-value-16);
	--t--caption-1: var(--font-value-15);
	--t--caption-2: var(--font-value-13);
	--t--caption-3: var(--font-value-11);
}

@include lg {
	/* Responsive - Medium (1024-1599) */
	:root {
		--border-radius-xxs: var(--radius-4);
		--border-radius-xs: var(--radius-6);
		--border-radius-s: var(--radius-8);
		--border-radius-m: var(--radius-12);
		--border-radius-lg: var(--radius-16);
		--border-radius-xl: var(--radius-20);
		--border-radius-xxl: var(--radius-28);
		--border-radius-3xl: var(--radius-28);
		--padding-vertical-4xl: var(--spacing-120);
		--padding-vertical-3xl: var(--spacing-96);
		--padding-vertical-2xl: var(--spacing-88);
		--padding-vertical-xl: var(--spacing-80);
		--padding-vertical-lg: var(--spacing-64);
		--padding-vertical-md: var(--spacing-48);
		--padding-vertical-s: var(--spacing-40);
		--padding-vertical-xs: var(--spacing-32);
		--padding-vertical-2xs: var(--spacing-16);
		--padding-vertical-3xs: var(--spacing-8);
		--t--heading-1: var(--font-value-64);
		--t--subheading-1: var(--font-value-36);
		--t--paragraph-1: var(--font-value-20);
		--t--paragraph-2: var(--font-value-17);
		--t--paragraph-3: var(--font-value-15);
		--t--paragraph-4: var(--font-value-13);
		--t--subheading-2: var(--font-value-28);
		--t--subheading-3: var(--font-value-24);
		--t--subheading-4: var(--font-value-20);
		--t--heading-2: var(--font-value-56);
		--t--heading-3: var(--font-value-44);
		--t--heading-4: var(--font-value-32);
		--t--heading-5: var(--font-value-24);
		--t--heading-6: var(--font-value-20);
		--t--heading-7: var(--font-value-17);
		--t--heading-8: var(--font-value-15);
		--t--btn-1: var(--font-value-26);
		--t--btn-2: var(--font-value-22);
		--t--btn-3: var(--font-value-17);
		--t--btn-4: var(--font-value-15);
		--t--btn-5: var(--font-value-13);
		--t--line-hight-primary-1: var(--font-value-72);
		--t--line-hight-primary-2: var(--font-value-72);
		--t--line-hight-primary-3: var(--font-value-52);
		--t--line-hight-primary-4: var(--font-value-44);
		--t--line-hight-primary-5: var(--font-value-32);
		--t--line-hight-primary-6: var(--font-value-26);
		--t--line-hight-primary-7: var(--font-value-24);
		--t--line-hight-primary-8: var(--font-value-20);
		--t--line-hight-primary-9: var(--font-value-16);
		--t--line-hight-secondary-05: var(--font-value-72);
		--t--line-hight-secondary-1: var(--font-value-52);
		--t--line-hight-secondary-2: var(--font-value-44);
		--t--line-hight-secondary-3: var(--font-value-36);
		--t--line-hight-secondary-3-5: var(--font-value-32);
		--t--line-hight-secondary-4: var(--font-value-28);
		--t--line-hight-secondary-5: var(--font-value-26);
		--t--line-hight-secondary-6: var(--font-value-22);
		--t--line-hight-secondary-7: var(--font-value-20);
		--t--line-hight-secondary-8: var(--font-value-16);
		--t--caption-1: var(--font-value-15);
		--t--caption-2: var(--font-value-13);
		--t--caption-3: var(--font-value-11);
	}
}
