@use 'config' as *;

.l-section--before-after-comparison {
	padding: var(--padding-vertical-4xl) 0;
	background-color: var(--background-bg-primary--c-brand-primary-forest);

	&.color-mode-variant-secondary {
		background-color: var(--bg-secondary);
	}

	&.image-position-left,
	&.image-position-right {
		.before-after-comparison {
			flex-direction: row;
			align-items: center;
			gap: 96px;

			@include mobile {
				flex-direction: column;
				gap: 40px;
			}

			&__image-outer-container {
				width: 50%;
				margin-top: 0;

				@include mobile {
					order: 2;
					width: 100%;
				}
			}

			&__image-container {
				aspect-ratio: 612 / 540;
			}

			&__btns {
				display: none;

				@include mobile {
					display: initial;
					order: 3;
					margin-top: 0;
				}
			}

			&__content-btns {
				@include mobile {
					display: none;
				}
			}

			&__content {
				@include mobile {
					order: 1;
				}
			}
		}
	}

	&.image-position-left {
		.before-after-comparison {
			&__image-outer-container {
				order: 1;
			}

			&__content {
				order: 2;

				@include mobile {
					order: 1;
				}
			}
		}
	}
}

.before-after-comparison {
	display: flex;
	flex-direction: column;
	align-items: center;

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;

		.before-after-comparison__content-btns {
			margin-top: 40px;
		}
	}

	&__image-outer-container {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		width: 100%;
		margin-top: 96px;
		padding: var(--spacing-16) var(--spacing-24) var(--spacing-24) var(--spacing-24);
		border-radius: var(--radius-24);
		background-color: var(--bg-secondary);
		gap: 12px;

		@include mobile {
			margin-top: 40px;
		}

		.color-mode-variant-secondary & {
			background-color: var(--background-bg-primary--c-brand-primary-forest);
		}
	}

	&__controls {
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding: 8px;
		border-radius: var(--border-radius-m);
		background-color: var(--background-bg-primary--c-brand-primary-forest);
		gap: var(--spacing-200);

		.color-mode-variant-secondary & {
			background-color: var(--bg-secondary);
		}
	}

	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		padding: 14px 8px;
		border: none;
		border-radius: 8px;
		background: transparent;
		color: var(--txt-ui-body);
		font-size: var(--t--tabs-1);
		line-height: var(--t--line-height-300);
		transition: background-color 0.3s, color 0.3s;

		&.is-active,
		&:hover {
			background-color: var(--bg-secondary);
			box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06);

			.color-mode-variant-secondary & {
				background-color: var(--background-bg-primary--c-brand-primary-forest);
			}
		}
	}

	&__image-container {
		position: relative;
		width: 100%;
		border-radius: 16px;
		overflow: hidden;
		aspect-ratio: 1231 / 720;

		@include mobile {
			aspect-ratio: 612 / 540;
		}
	}

	&__before-wrapper,
	&__after-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__slider {
		position: absolute;
		top: 0;
		left: 50%; /* Initial position, will be updated by JS */
		z-index: 10;
		cursor: ew-resize;
		width: 5px;
		height: 100%;

		&-line {
			position: absolute;
			top: 0;
			left: 50%;
			width: 2px;
			height: 100%;
			background-color: var(--button-icon-secondary-idle);
			transform: translateX(-50%);
		}

		&-handle {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			gap: 10px;
			top: 50%;
			left: 50%;
			width: 80px;
			height: 40px;
			border-radius: 4px;
			background: var(--button-bg-primary-idle);
			transform: translate(-50%, -50%);
			will-change: transform; /* Optimize for animations */

			&-icon {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 24px;
				height: 24px;

				svg {
					width: 100%;
					height: 100%;
				}
			}
		}
	}

	&__btns {
		margin-top: 64px;
	}
}
