@use 'config' as *;

.block-post-cta {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	position: relative;
	padding: fluid(32px, 50px) fluid(24px, 40px);
	border-radius: var(--border-radius-xs);
	background-color: var(--bg-primary);
	overflow: hidden;
	gap: fluid(18px, 24px) rem(24px);

	&__watermark {
		top: inherit;
		right: 0;
		left: inherit;
		translate: 35% 0%;
	}

	&__content-hld {
		display: flex;
		flex-direction: column;
		gap: fluid(14px, 16px);
		width: min(rem(459px), 100%);
	}
}
