@use 'config' as *;

.l-section--grid-of-items {
	padding: var(--padding-vertical-4xl) 0;
	background-color: var(--background-bg-primary--c-brand-primary-forest);

	&.color-mode-variant-secondary {
		background-color: var(--bg-secondary);
	}
}

.grid-of-items {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-1050);

	&__grid {
		display: grid;
		width: 100%;
		column-gap: rem(24px);
		row-gap: rem(40px);

		@include mobile {
			grid-template-columns: 1fr;
		}

		@include md {
			grid-template-columns: repeat(2, 1fr);
		}

		@include lg {
			&.grid-of-items__grid--cols-2 {
				grid-template-columns: repeat(2, 1fr);
			}

			&.grid-of-items__grid--cols-3 {
				grid-template-columns: repeat(3, 1fr);
			}
		}

		&--icons {
			column-gap: rem(8px);
			row-gap: rem(8px);

			.grid-of-items__item {
				justify-content: space-between;
				min-height: rem(442px);
				padding: rem(32px) rem(34px) rem(32px) rem(28px);
				border-radius: var(--border-radius-lg);
				background: var(--elevation-surface-sunken-primary-default);

				.color-mode-variant-secondary & {
					background: var(--elevation-surface-sunken-secondary-default);
				}
			}

			.grid-of-items__content {
				flex-grow: unset;
			}

			.grid-of-items__media-container {
				display: flex;
				align-items: center;
				justify-content: center;
				width: rem(80px);
				height: rem(80px);
				border-radius: var(--border-radius-s);
				background: var(--elevation-surface-sunken-secondary-default);

				.color-mode-variant-secondary & {
					background: var(--elevation-surface-sunken-primary-default);
				}
			}

			.grid-of-items__svg {
				width: auto;
				height: rem(27px);
				margin: 0 auto;
				object-fit: contain;
			}
		}

		&--images {
			.grid-of-items__media-container {
				aspect-ratio: 4 / 3;
			}

			.grid-of-items__img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: var(--radius-16);
			}
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		height: 100%;
		border: 1px solid var(--wf-neutral-neutral-80);
		border-radius: 8px;
		transition: transform 0.3s ease;
		overflow: hidden;

		&.grid-of-items__item--link:hover {
			transform: translateY(rem(-4px));

			.btn {
				.text {
					&::after {
						transform-origin: left;
						scale: 1 1;
					}
				}
			}
		}
	}

	&__media-container {
		width: 100%;
		margin-bottom: var(--spacing-600);
		background-color: var(--wf-neutral-neutral-95);
		overflow: hidden;
	}

	&__img,
	&__svg {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__content {
		display: flex;
		flex-grow: 1;
		flex-direction: column;
	}

	&__item-heading {
		margin-bottom: var(--spacing-400);
		color: var(--txt-heading);
		font-size: var(--t--card-title-2);
		line-height: var(--t--line-height-600);
	}

	&__item-content {
		margin-bottom: var(--spacing-600);
		color: var(--txt-paragraph-primary);
		font-size: var(--t--paragraph-2);
		line-height: var(--t--line-height-400);
	}
}
