/* Modes - Dark Mode */
.color-mode-is-dark {
	--background-bg-primary--c-brand-primary-forest: var(--c--brand-neutral-100);
	--bg-secondary: var(--c--brand-neutral-125);
	--checkbox-bg-idle: var(--c--brand-primary-500);
	--checkbox-bg-hover: var(--c--brand-primary-400);
	--checkbox-bg-disabled: var(--c--brand-neutral-500);
	--checkbox-bg-validation: var(--c--semantic-error-600-30);
	--checkbox-stroke-none-idle: var(--c--brand-neutral-1000-70);
	--checkbox-stroke-none-hover: var(--c--brand-primary-500);
	--checkbox-stroke-none-disabled: var(--c--brand-neutral-1000);
	--checkbox-stroke-none-validation: var(--c--semantic-error-800);
	--checkbox-stroke-check-icon-idle: var(--c--brand-neutral-1000);
	--checkbox-stroke-check-icon-disabled: var(--c--brand-neutral-375);
	--button-label-primary-idle: var(--c--brand-neutral-1000);
	--button-label-primary-hover: var(--c--brand-neutral-1000);
	--button-bg-primary-idle: var(--c--brand-primary-250-main);
	--txt-caption: var(--c--brand-neutral-500);
	--txt-caption-alt: var(--c--brand-neutral-750);
	--txt-heading: var(--c--brand-neutral-1000);
	--txt-subheading: var(--c--brand-neutral-500);
	--txt-paragraph-primary: var(--c--brand-neutral-500);
	--txt-paragraph-secondary: var(--c--brand-neutral-1000);
	--txt-paragraph-tertiary: var(--c--brand-primary-500);
	--txt-text-link: var(--c--brand-primary-500);
	--txt-ui-body: var(--c--brand-neutral-1000);
	--txt-form-notes: var(--c--brand-primary-800-70);
	--txt-ui-notes: var(--c--brand-neutral-1000-50);
	--txt-large-numbers: var(--c--brand-primary-375);
	--button-bg-primary-hover: rgba(76, 47, 153, 1);
	--button-bg-primary-disabled: var(--c--brand-neutral-500);
	--button-bg-secondary-hover: var(--c--brand-neutral-875);
	--button-icon-primary-idle: var(--c--brand-neutral-1000);
	--button-icon-primary-hover: var(--c--brand-neutral-1000);
	--button-icon-secondary-idle: var(--c--brand-primary-500);
	--button-icon-secondary-hover: var(--c--brand-neutral-100);
	--button-icon-link-idle: var(--c--brand-primary-500);
	--button-icon-link-hover: var(--c--brand-primary-500);
	--button-icon-disabled: var(--c--brand-neutral-500);
	--button-border-secondary-idle: var(--c--brand-neutral-1000);
	--button-border-secondary-hover: var(--c--brand-neutral-875);
	--button-border-focus: var(--c--brand-neutral-1000);
	--button-label-secondary-idle: var(--c--brand-neutral-1000);
	--button-label-secondary-hover: var(--c--brand-neutral-100);
	--button-label-tertiary-idle: var(--c--brand-neutral-1000);
	--button-label-tertiary-hover: var(--c--brand-neutral-1000);
	--button-label-link-idle: var(--c--brand-neutral-1000);
	--button-label-link-hover: var(--c--brand-neutral-1000);
	--button-label-disabled: var(--c--brand-neutral-500);
	--button-underline-link-idle: var(--c--brand-primary-500);
	--navigation-icon-icon-idle: var(--c--brand-neutral-1000);
	--navigation-icon-icon-muted: var(--c--brand-neutral-1000);
	--navigation-icon-icon-hover: var(--c--brand-primary-500);
	--navigation-txt-txt-navigation: var(--c--brand-neutral-1000);
	--navigation-txt-txt-muted: var(--c--brand-neutral-625);
	--interface-divider-divider: var(--c--brand-neutral-1000-10);
	--interface-divider-divider-cards: var(--c--brand-primary-100);
	--interface-content-icon-bg-primary-idle: var(--c--brand-neutral-1000);
	--interface-content-icon-bg-secondary-idle: var(--c--brand-primary-500);
	--interface-content-icon-icon-primary-idle: var(--c--brand-primary-500);
	--interface-content-icon-icon-secondary-idle: var(--c--brand-neutral-1000);
	--interface-content-icon-icon-tertiary-idle: var(--c--brand-neutral-1000);
	--interface-interactive-icon-icon-idle: var(--c--brand-neutral-1000);
	--interface-interactive-icon-icon-hover: var(--c--brand-neutral-1000-70);
	--input-field-txt-label: var(--c--brand-neutral-1000);
	--input-field-txt-hint: var(--c--brand-primary-800-70);
	--input-field-txt-hover-text: var(--c--brand-primary-800);
	--input-field-txt-active-text: var(--c--brand-neutral-1000);
	--input-field-txt-disabled: var(--c--brand-primary-700-main-20);
	--input-field-txt-optional: var(--c--brand-primary-800-70);
	--input-field-txt-validation: var(--c--semantic-error-800);
	--input-field-bg-primary-idle: var(--c--brand-neutral-1000);
	--input-field-bg-primary-active: var(--c--brand-primary-800-10);
	--input-field-bg-disabled: var(--c--brand-primary-100-50);
	--input-field-border-border-idle: var(--c--brand-primary-800-10);
	--input-field-border-border-hover: var(--c--brand-primary-500);
	--input-field-border-border-validation: var(--c--semantic-error-800);
	--input-field-border-disabled: var(--c--brand-neutral-300-40);
	--input-field-icon-icon-idle: var(--c--brand-primary-800-70);
	--input-field-icon-icon-hover: var(--c--brand-primary-800);
	--input-field-icon-icon-validation: var(--c--brand-primary-500);
	--input-field-border-focus: var(--c--brand-neutral-1000);
	--input-field-note-info-note: var(--c--brand-primary-500);
	--input-field-note-validation: var(--c--brand-primary-500);
	--radio-button-radio-fill-idle: var(--c--brand-primary-500);
	--radio-button-radio-fill-hover: var(--c--brand-primary-400);
	--radio-button-radio-fill-disabled: var(--c--brand-primary-700-main-20);
	--radio-button-stroke-none-idle: var(--c--brand-neutral-900);
	--radio-button-stroke-none-hover: var(--c--brand-primary-500);
	--radio-button-stroke-none-disabled: var(--c--brand-neutral-900-10);
	--button-dots-dot-idle: var(--c--brand-primary-700-main-20);
	--button-dots-dot-hover: var(--c--brand-primary-700-main-60);
	--button-dots-dot-active: var(--c--brand-primary-500);
	--button-arrow-icon-idle: var(--c--brand-neutral-1000);
	--button-arrow-icon-hover: var(--c--brand-primary-500);
	--button-arrow-bg-idle: var(--c--brand-primary-100-50);
	--button-arrow-bg-hover: var(--c--brand-primary-100);
	--interface-tags-fill-primary: var(--c--brand-neutral-1000);
	--interface-tags-fill-secondary: var(--c--brand-neutral-250-50);
	--interface-tags-txt-primary: var(--c--brand-neutral-100);
	--interface-tags-txt-secondary: var(--c--brand-neutral-1000);
	--elevation-surface-sunken-primary-default: var(--c--brand-neutral-125);
	--elevation-surface-sunken-primary-hovered: var(--c--brand-neutral-125);
	--elevation-surface-sunken-primary-pressed: var(--c--brand-neutral-125);
	--elevation-surface-sunken-secondary-default: var(--c--brand-neutral-250-20);
	--elevation-surface-sunken-secondary-hovered: var(--c--brand-neutral-250-20);
	--elevation-surface-sunken-secondary-pressed: var(--c--brand-neutral-250-20);
	--elevation-surface-raised-default: var(--c--brand-neutral-375);
	--elevation-surface-raised-hovered: var(--c--brand-neutral-375);
	--elevation-surface-raised-pressed: var(--c--brand-neutral-375);
	--elevation-surface-overlay-default: var(--bg-primary);
	--elevation-surface-overlay-hovered: var(--c--brand-neutral-400-50);
	--elevation-surface-overlay-pressed: var(--c--brand-neutral-250);
	--elevation-border-overlay-default: var(--c--brand-neutral-300-40);
	--elevation-border-overlay-hovered: var(--c--brand-neutral-400);
	--elevation-border-overlay-pressed: var(--c--brand-neutral-400);
	--elevation-border-raised-default: var(--c--brand-neutral-400);
	--elevation-border-raised-hovered: var(--c--brand-neutral-400);
	--elevation-border-raised-pressed: var(--c--brand-neutral-400);
	--navigation-item-fill-hover: rgba(255, 255, 255, 0.20000000298023224);
	--interface-border-active: var(--c--brand-primary-250-main);
	--interface-border-subtle: var(--interface-ui-controls-bg-fill);
	--interface-ui-controls-item-active: var(--c--brand-neutral-250);
	--interface-ui-controls-item-hover: var(--c--brand-neutral-250-20);
	--interface-ui-controls-bg-fill: var(--c--brand-neutral-250-20);
	--interface-ui-controls-tab-highlight-bar-fill: var(--c--brand-primary-250-15);
	--interface-ui-controls-tab-highlight-bar-icon-stroke: var(--c--brand-neutral-1000);
	--interface-ui-controls-tab-highlight-bar-icon-bg: var(--c--brand-primary-250-main);
	--interface-ui-controls-tab-highlight-bar-txt: var(--c--brand-primary-500);
	--interface-logo-logo-fill: var(--c--brand-neutral-1000);
}

/* Modes - Light Mode */
.color-mode-is-light {
	--background-bg-primary--c-brand-primary-forest: var(--c--brand-neutral-1000);
	--bg-secondary: var(--c--brand-primary-1000);
	--checkbox-bg-idle: var(--c--brand-primary-500);
	--checkbox-bg-hover: var(--c--brand-primary-400);
	--checkbox-bg-disabled: var(--c--brand-neutral-500);
	--checkbox-bg-validation: var(--c--semanctic-error-900-50);
	--checkbox-stroke-none-idle: var(--c--brand-primary-100-50);
	--checkbox-stroke-none-hover: var(--c--brand-primary-500);
	--checkbox-stroke-none-disabled: var(--c--brand-neutral-1000);
	--checkbox-stroke-none-validation: var(--c--semantic-error-600);
	--checkbox-stroke-check-icon-idle: var(--c--brand-neutral-1000);
	--checkbox-stroke-check-icon-disabled: var(--c--brand-neutral-375);
	--button-label-primary-idle: var(--c--brand-neutral-1000);
	--button-label-primary-hover: var(--c--brand-neutral-1000);
	--button-bg-primary-idle: var(--c--brand-primary-250-main);
	--txt-caption: var(--c--brand-neutral-300);
	--txt-caption-alt: var(--c--brand-neutral-300);
	--txt-heading: var(--c--brand-neutral-100);
	--txt-subheading: var(--c--brand-neutral-375);
	--txt-paragraph-primary: var(--c--brand-neutral-300);
	--txt-paragraph-secondary: var(--c--brand-neutral-100);
	--txt-paragraph-tertiary: var(--c--brand-primary-250-main);
	--txt-text-link: var(--c--brand-primary-250-main);
	--txt-ui-body: var(--c--brand-neutral-100);
	--txt-form-notes: var(--c--brand-primary-100-64);
	--txt-ui-notes: var(--c--brand-neutral-100-50);
	--txt-large-numbers: var(--c--brand-primary-250-main);
	--button-bg-primary-hover: rgba(76, 47, 153, 1);
	--button-bg-primary-disabled: var(--c--brand-primary-0);
	--button-bg-secondary-hover: var(--c--brand-primary-0);
	--button-icon-primary-idle: var(--c--brand-primary-1000);
	--button-icon-primary-hover: var(--c--brand-primary-1000);
	--button-icon-secondary-idle: var(--c--brand-primary-250-main);
	--button-icon-secondary-hover: var(--c--brand-neutral-1000);
	--button-icon-link-idle: var(--c--brand-primary-250-main);
	--button-icon-link-hover: var(--c--brand-primary-250-main);
	--button-icon-disabled: var(--c--brand-neutral-500);
	--button-border-secondary-idle: var(--c--brand-neutral-100);
	--button-border-secondary-hover: var(--c--brand-primary-0);
	--button-border-focus: var(--c--brand-primary-250-main);
	--button-label-secondary-idle: var(--c--brand-neutral-100);
	--button-label-secondary-hover: var(--c--brand-neutral-1000);
	--button-label-tertiary-idle: var(--c--brand-primary-250-main);
	--button-label-tertiary-hover: var(--c--brand-primary-250-main);
	--button-label-link-idle: var(--c--brand-primary-250-main);
	--button-label-link-hover: var(--c--brand-primary-250-main);
	--button-label-disabled: var(--c--brand-neutral-500);
	--button-underline-link-idle: var(--c--brand-primary-500);
	--navigation-icon-icon-idle: var(--c--brand-neutral-100);
	--navigation-icon-icon-muted: var(--c--brand-neutral-625);
	--navigation-icon-icon-hover: var(--c--brand-neutral-100);
	--navigation-txt-txt-navigation: var(--c--brand-neutral-100);
	--navigation-txt-txt-muted: var(--c--brand-neutral-625);
	--interface-divider-divider: var(--c--brand-neutral-100-10);
	--interface-divider-divider-cards: var(--c--brand-neutral-750);
	--interface-content-icon-bg-primary-idle: var(--c--brand-primary-250-main);
	--interface-content-icon-bg-secondary-idle: var(--c--brand-primary-500);
	--interface-content-icon-icon-primary-idle: var(--c--brand-primary-500);
	--interface-content-icon-icon-secondary-idle: var(--c--brand-primary-1000);
	--interface-content-icon-icon-tertiary-idle: var(--c--brand-primary-250-main);
	--interface-interactive-icon-icon-idle: var(--c--brand-primary-250-main);
	--interface-interactive-icon-icon-hover: var(--c--brand-primary-400);
	--input-field-txt-label: var(--c--brand-primary-250-main);
	--input-field-txt-hint: var(--c--brand-primary-100-64);
	--input-field-txt-hover-text: var(--c--brand-primary-100-64);
	--input-field-txt-active-text: var(--c--brand-primary-250-main);
	--input-field-txt-disabled: var(--c--brand-neutral-500);
	--input-field-txt-optional: var(--c--brand-primary-100-64);
	--input-field-txt-validation: var(--c--semantic-error-600);
	--input-field-bg-primary-idle: var(--c--brand-neutral-1000);
	--input-field-bg-primary-active: var(--c--brand-primary-800-10);
	--input-field-bg-disabled: var(--c--brand-neutral-625);
	--input-field-border-border-idle: var(--c--brand-primary-200-main-30);
	--input-field-border-border-hover: var(--c--brand-primary-500);
	--input-field-border-border-validation: var(--c--semantic-error-600);
	--input-field-border-disabled: var(--c--brand-neutral-750);
	--input-field-icon-icon-idle: var(--c--brand-neutral-375);
	--input-field-icon-icon-hover: var(--c--brand-primary-500);
	--input-field-icon-icon-validation: var(--c--brand-primary-500);
	--input-field-border-focus: var(--c--brand-neutral-100);
	--input-field-note-info-note: var(--c--brand-primary-500);
	--input-field-note-validation: var(--c--brand-primary-500);
	--radio-button-radio-fill-idle: var(--c--brand-primary-500);
	--radio-button-radio-fill-hover: var(--c--brand-primary-400);
	--radio-button-radio-fill-disabled: var(--c--brand-neutral-500);
	--radio-button-stroke-none-idle: var(--c--brand-neutral-750);
	--radio-button-stroke-none-hover: var(--c--brand-primary-500);
	--radio-button-stroke-none-disabled: var(--c--brand-neutral-750);
	--button-dots-dot-idle: var(--c--brand-primary-800-70);
	--button-dots-dot-hover: var(--c--brand-primary-750);
	--button-dots-dot-active: var(--c--brand-primary-500);
	--button-arrow-icon-idle: var(--c--brand-primary-250-main);
	--button-arrow-icon-hover: var(--c--brand-primary-500);
	--button-arrow-bg-idle: var(--c--brand-primary-1000);
	--button-arrow-bg-hover: var(--c--brand-primary-850);
	--interface-tags-fill-primary: var(--c--brand-neutral-100);
	--interface-tags-fill-secondary: var(--c--brand-neutral-750-80);
	--interface-tags-txt-primary: var(--c--brand-neutral-1000);
	--interface-tags-txt-secondary: var(--c--brand-neutral-100);
	--elevation-surface-sunken-primary-default: var(--c--brand-primary-1000);
	--elevation-surface-sunken-primary-hovered: var(--c--brand-primary-1000);
	--elevation-surface-sunken-primary-pressed: var(--c--brand-primary-1000);
	--elevation-surface-sunken-secondary-default: var(--c--brand-neutral-875);
	--elevation-surface-sunken-secondary-hovered: var(--c--brand-neutral-875);
	--elevation-surface-sunken-secondary-pressed: var(--c--brand-neutral-875);
	--elevation-surface-raised-default: var(--c--brand-neutral-1000);
	--elevation-surface-raised-hovered: var(--c--brand-neutral-1000);
	--elevation-surface-raised-pressed: var(--c--brand-neutral-1000);
	--elevation-surface-overlay-default: var(--bg-primary);
	--elevation-surface-overlay-hovered: var(--c--brand-neutral-800-40);
	--elevation-surface-overlay-pressed: var(--c--brand-neutral-900);
	--elevation-border-overlay-default: var(--c--brand-neutral-750);
	--elevation-border-overlay-hovered: var(--c--brand-neutral-750);
	--elevation-border-overlay-pressed: var(--c--brand-neutral-750);
	--elevation-border-raised-default: var(--c--brand-neutral-875);
	--elevation-border-raised-hovered: var(--c--brand-neutral-875);
	--elevation-border-raised-pressed: var(--c--brand-neutral-875);
	--navigation-item-fill-hover: rgba(62, 36, 92, 0.03999999910593033);
	--interface-border-active: var(--c--brand-primary-250-main);
	--interface-border-subtle: var(--interface-ui-controls-bg-fill);
	--interface-ui-controls-item-active: var(--c--brand-neutral-1000);
	--interface-ui-controls-item-hover: var(--c--brand-neutral-875);
	--interface-ui-controls-bg-fill: var(--c--brand-neutral-875-40);
	--interface-ui-controls-tab-highlight-bar-fill: var(--c--brand-primary-750-60);
	--interface-ui-controls-tab-highlight-bar-icon-stroke: var(--c--brand-neutral-1000);
	--interface-ui-controls-tab-highlight-bar-icon-bg: var(--c--brand-primary-250-main);
	--interface-ui-controls-tab-highlight-bar-txt: var(--c--brand-primary-250-main);
	--interface-logo-logo-fill: var(--c--brand-neutral-100);
}
