@use '../../01_base/_mixins.scss' as *;

/* Responsive - Large (1365-1920) */
:root {
	--border-radius-xs: var(--radius-4);
	--border-radius-s: var(--radius-8);
	--border-radius-m: var(--radius-12);
	--border-radius-lg: var(--radius-16);
	--border-radius-xl: var(--radius-20);
	--border-radius-xxl: var(--radius-24);
	--border-radius-3xl: var(--radius-40);
	--break-point-vw: 1400px;
	--grid-container-width: 1400px;
	--media-container-vertical-2-3-6-col-span-width: 624px;
	--padding-vertical-4xl: var(--spacing-144);
	--padding-vertical-3xl: var(--spacing-120);
	--padding-vertical-2xl: var(--spacing-96);
	--padding-vertical-lg: var(--spacing-80);
	--padding-vertical-md: var(--spacing-72);
	--padding-vertical-s: var(--spacing-64);
	--padding-vertical-xs: var(--spacing-48);
	--padding-vertical-2xs: var(--spacing-32);
	--padding-horizontal-3xl: var(--spacing-144);
	--padding-vertical-3xs: var(--spacing-28);
	--padding-horizontal-2xl: var(--spacing-108);
	--padding-horizontal-xl: var(--spacing-96);
	--padding-horizontal-m: var(--spacing-84);
	--padding-horizontal-s: var(--spacing-64);
	--padding-horizontal-xs: var(--spacing-48);
	--padding-horizontal-2xs: var(--spacing-40);
	--padding-horizontal-3xs: var(--spacing-32);
	--padding-horizontal-4xs: var(--spacing-24);
	--padding-horizontal-5xs: var(--spacing-16);
	--media-container-vertical-2-3-6-col-span-height: 936px;
	--media-container-vertical-2-3-5-col-span-width: 516px;
	--media-container-vertical-2-3-5-col-span-height: 774px;
	--media-container-vertical-2-3-4-col-span-width: 408px;
	--media-container-vertical-2-3-4-col-span-height: 612px;
	--media-container-vertical-2-3-3-col-span-width: 300px;
	--media-container-vertical-2-3-3-col-span-height: 450px;
	--media-container-vertical-2-3-2-col-span-width: 192px;
	--media-container-vertical-2-3-2-col-span-height: 288px;
	--media-container-vertical-3-4-6-col-span-width: 624px;
	--media-container-vertical-3-4-6-col-span-height: 832px;
	--media-container-vertical-3-4-5-col-span-width: 516px;
	--media-container-vertical-3-4-5-col-span-height: 688px;
	--media-container-vertical-3-4-4-col-span-width: 408px;
	--media-container-vertical-3-4-4-col-span-height: 544px;
	--media-container-vertical-3-4-3-col-span-width: 300px;
	--media-container-vertical-3-4-3-col-span-height: 400px;
	--media-container-vertical-3-4-2-col-span-width: 192px;
	--media-container-vertical-3-4-2-col-span-height: 256px;
	--media-container-horizontal-16-9-12-col-span-width: var(--grid-container-width-container-width);
	--media-container-horizontal-16-9-12-col-span-height: 708px;
	--media-container-horizontal-16-9-11-col-span-width: 1164px;
	--media-container-horizontal-16-9-11-col-span-height: 648px;
	--media-container-horizontal-16-9-10-col-span-width: 1056px;
	--media-container-horizontal-16-9-10-col-span-height: 588px;
	--media-container-horizontal-16-9-9-col-span-width: 948px;
	--media-container-horizontal-16-9-9-col-span-height: 528px;
	--media-container-horizontal-16-9-8-col-span-width: 840px;
	--media-container-horizontal-16-9-7-col-span-width: 732px;
	--media-container-horizontal-16-9-7-col-span-height: 408px;
	--media-container-horizontal-16-9-8-col-span-height: 468px;
	--media-container-horizontal-16-9-6-col-span-width: 624px;
	--media-container-horizontal-16-9-6-col-span-height: 348px;
	--media-container-horizontal-16-9-5-col-span-width: 516px;
	--media-container-horizontal-16-9-5-col-span-height: 288px;
	--media-container-horizontal-16-9-4-col-span-width: 408px;
	--media-container-horizontal-16-9-4-col-span-height: 228px;
	--media-container-horizontal-16-9-3-col-span-width: 300px;
	--media-container-horizontal-16-9-3-col-span-height: 168px;
	--media-container-horizontal-16-9-2-col-span-width: 192px;
	--media-container-horizontal-16-9-2-col-span-height: 108px;
	--media-container-horizontal-4-3-6-col-span-width: 624px;
	--media-container-horizontal-4-3-6-col-span-height: 468px;
	--media-container-horizontal-4-3-5-col-span-width: 516px;
	--media-container-horizontal-4-3-5-col-span-height: 387px;
	--media-container-horizontal-4-3-4-col-span-width: 408px;
	--media-container-horizontal-4-3-4-col-span-height: 306px;
	--media-container-horizontal-4-3-3-col-span-width: 300px;
	--media-container-horizontal-4-3-3-col-span-height: 225px;
	--media-container-horizontal-4-3-2-col-span-width: 192px;
	--media-container-horizontal-4-3-2-col-span-height: 144px;
	--media-container-horizontal-3-2-6-col-span-width: 624px;
	--media-container-horizontal-3-2-6-col-span-height: 416px;
	--media-container-horizontal-3-2-5-col-span-width: 516px;
	--media-container-horizontal-3-2-5-col-span-height: 344px;
	--media-container-horizontal-3-2-4-col-span-width: 408px;
	--media-container-horizontal-3-2-4-col-span-height: 272px;
	--media-container-horizontal-3-2-3-col-span-width: 300px;
	--media-container-horizontal-3-2-3-col-span-height: 200px;
	--media-container-horizontal-3-2-2-col-span-width: 192px;
	--media-container-horizontal-3-2-2-col-span-height: 128px;
	--media-container-square-1-1-6-col-span-width: 624px;
	--media-container-square-1-1-6-col-span-height: 624px;
	--media-container-square-1-1-5-col-span-width: 516px;
	--media-container-square-1-1-5-col-span-height: 516px;
	--media-container-square-1-1-4-col-span-width: 408px;
	--media-container-square-1-1-4-col-span-height: 408px;
	--media-container-square-1-1-3-col-span-width: 300px;
	--media-container-square-1-1-3-col-span-height: 300px;
	--media-container-square-1-1-2-col-span-width: 192px;
	--media-container-square-1-1-2-col-span-height: 192px;
	--grid-column-count-count: var(--grid-column-count-12);
	--grid-container-width-container-width: 1272px;
	--grid-gutter-gutter: var(--grid-gutter-24);
	--grid-margin-margin: var(--grid-margin-64);
	--break-point-vh: 760px;
	--spacing-1200: var(--spacing-128);
	--spacing-1100: var(--spacing-96);
	--spacing-1050: var(--spacing-80);
	--spacing-1025: var(--spacing-72);
	--spacing-1000: var(--spacing-64);
	--spacing-900: var(--spacing-56);
	--spacing-800: var(--spacing-48);
	--spacing-700: var(--spacing-40);
	--spacing-650: var(--spacing-36);
	--spacing-600: var(--spacing-32);
	--spacing-550: var(--spacing-28);
	--spacing-500: var(--spacing-24);
	--spacing-450: var(--spacing-20);
	--spacing-400: var(--spacing-16);
	--spacing-300: var(--spacing-12);
	--spacing-200: var(--spacing-8);
	--spacing-100: var(--spacing-4);
	--t--caption-1: var(--font-value-16);
	--t--caption-2: var(--font-value-14);
	--t--heading-1: var(--font-value-60);
	--t--heading-2: var(--font-value-52);
	--t--heading-3: var(--font-value-45);
	--t--heading-4: var(--font-value-34);
	--t--heading-5: var(--font-value-28);
	--t--heading-6: var(--font-value-20);
	--t--subheading-1: var(--font-value-20);
	--t--subheading-2: var(--font-value-18);
	--t--subheading-3: var(--font-value-16);
	--t--paragraph-1: var(--font-value-16);
	--t--paragraph-2: var(--font-value-14);
	--t--paragraph-3: var(--font-value-13);
	--t--paragraph-4: var(--font-value-12);
	--t--paragraph-5: var(--font-value-10);
	--t--btn-1: var(--font-value-18);
	--t--btn-2: var(--font-value-14);
	--t--btn-3: var(--font-value-16);
	--t--link-1: var(--font-value-18);
	--t--link-2: var(--font-value-16);
	--t--link-3: var(--font-value-14);
	--t--line-height-100: var(--font-value-12);
	--t--line-height-200: var(--font-value-16);
	--t--line-height-300: var(--font-value-20);
	--t--line-height-400: var(--font-value-24);
	--t--line-height-500: var(--font-value-28);
	--t--line-height-550: var(--font-value-32);
	--t--line-height-600: var(--font-value-36);
	--t--line-height-700: var(--font-value-40);
	--t--line-height-800: var(--font-value-44);
	--t--line-height-1000: var(--font-value-52);
	--t--line-height-1200: var(--font-value-56);
	--t--line-height-1400: var(--font-value-60);
	--t--line-height-1600: var(--font-value-64);
	--t--line-height-1800: var(--font-value-72);
	--t--line-height-1900: var(--font-value-80);
	--t--line-height-2000: var(--font-value-96);
	--t--navigation-1: var(--font-value-18);
	--t--navigation-2: var(--font-value-16);
	--t--navigation-3: var(--font-value-14);
	--t--navigation-4: var(--font-value-12);
	--t--input-field-1: var(--font-value-16);
	--t--input-field-2: var(--font-value-14);
	--t--input-field-3: var(--font-value-12);
	--t--interface-1: var(--font-value-18);
	--t--interface-2: var(--font-value-16);
	--t--interface-3: var(--font-value-14);
	--t--interface-4: var(--font-value-12);
	--t--testimonial-1: var(--font-value-26);
	--t--card-title-1: var(--font-value-44);
	--t--card-title-2: var(--font-value-25);
	--t--card-title-3: var(--font-value-20);
	--t--large-numbers-1: var(--font-value-96);
	--t--large-numbers-2: var(--font-value-80);
	--grid-span-beta-1-col-span: 84px;
	--grid-span-beta-2-col-span: 192px;
	--grid-span-beta-3-col-span: 300px;
	--grid-span-beta-4-col-span: 408px;
	--grid-span-beta-5-col-span: 516px;
	--grid-span-beta-6-col-span: 624px;
	--grid-span-beta-7-col-span: 732px;
	--grid-span-beta-8-col-span: 840px;
	--grid-span-beta-9-col-span: 948px;
	--grid-span-beta-10-col-span: 1056px;
	--grid-span-beta-11-col-span: 1164px;
	--grid-span-beta-12-col-span: 1272px;
	--t--tabs-1: var(--font-value-16);
	--padding-vertical-4xs: var(--spacing-24);
}

@include desktop-small {
	/* Responsive - Medium (1280-1364) */
	:root {
		--border-radius-xs: var(--radius-4);
		--border-radius-s: var(--radius-8);
		--border-radius-m: var(--radius-12);
		--border-radius-lg: var(--radius-16);
		--border-radius-xl: var(--radius-20);
		--border-radius-xxl: var(--radius-28);
		--border-radius-3xl: var(--radius-28);
		--break-point-vw: 1280px;
		--grid-container-width: 1280px;
		--media-container-vertical-2-3-6-col-span-width: 572px;
		--padding-vertical-4xl: var(--spacing-80);
		--padding-vertical-3xl: var(--spacing-80);
		--padding-vertical-2xl: var(--spacing-64);
		--padding-vertical-lg: var(--spacing-40);
		--padding-vertical-md: var(--spacing-40);
		--padding-vertical-s: var(--spacing-32);
		--padding-vertical-xs: var(--spacing-32);
		--padding-vertical-2xs: var(--spacing-16);
		--padding-horizontal-3xl: var(--spacing-96);
		--padding-vertical-3xs: var(--spacing-8);
		--padding-horizontal-2xl: var(--spacing-64);
		--padding-horizontal-xl: var(--spacing-64);
		--padding-horizontal-m: var(--spacing-48);
		--padding-horizontal-s: var(--spacing-48);
		--padding-horizontal-xs: var(--spacing-48);
		--padding-horizontal-2xs: var(--spacing-48);
		--padding-horizontal-3xs: var(--spacing-32);
		--padding-horizontal-4xs: var(--spacing-20);
		--padding-horizontal-5xs: var(--spacing-16);
		--media-container-vertical-2-3-6-col-span-height: 858px;
		--media-container-vertical-2-3-5-col-span-width: 452px;
		--media-container-vertical-2-3-5-col-span-height: 678px;
		--media-container-vertical-2-3-4-col-span-width: 333px;
		--media-container-vertical-2-3-4-col-span-height: 500px;
		--media-container-vertical-2-3-3-col-span-width: 214px;
		--media-container-vertical-2-3-3-col-span-height: 321px;
		--media-container-vertical-2-3-2-col-span-width: 214px;
		--media-container-vertical-2-3-2-col-span-height: 321px;
		--media-container-vertical-3-4-6-col-span-width: 572px;
		--media-container-vertical-3-4-6-col-span-height: 762px;
		--media-container-vertical-3-4-5-col-span-width: 452px;
		--media-container-vertical-3-4-5-col-span-height: 602px;
		--media-container-vertical-3-4-4-col-span-width: 333px;
		--media-container-vertical-3-4-4-col-span-height: 444px;
		--media-container-vertical-3-4-3-col-span-width: 214px;
		--media-container-vertical-3-4-3-col-span-height: 285px;
		--media-container-vertical-3-4-2-col-span-width: 214px;
		--media-container-vertical-3-4-2-col-span-height: 285px;
		--media-container-horizontal-16-9-12-col-span-width: var(--grid-container-width-container-width);
		--media-container-horizontal-16-9-12-col-span-height: 522px;
		--media-container-horizontal-16-9-11-col-span-width: 928px;
		--media-container-horizontal-16-9-11-col-span-height: 522px;
		--media-container-horizontal-16-9-10-col-span-width: 809px;
		--media-container-horizontal-16-9-10-col-span-height: 455px;
		--media-container-horizontal-16-9-9-col-span-width: 809px;
		--media-container-horizontal-16-9-9-col-span-height: 455px;
		--media-container-horizontal-16-9-8-col-span-width: 809px;
		--media-container-horizontal-16-9-7-col-span-width: 572px;
		--media-container-horizontal-16-9-7-col-span-height: 319px;
		--media-container-horizontal-16-9-8-col-span-height: 455px;
		--media-container-horizontal-16-9-6-col-span-width: 572px;
		--media-container-horizontal-16-9-6-col-span-height: 319px;
		--media-container-horizontal-16-9-5-col-span-width: 452px;
		--media-container-horizontal-16-9-5-col-span-height: 252px;
		--media-container-horizontal-16-9-4-col-span-width: 333px;
		--media-container-horizontal-16-9-4-col-span-height: 186px;
		--media-container-horizontal-16-9-3-col-span-width: 214px;
		--media-container-horizontal-16-9-3-col-span-height: 120px;
		--media-container-horizontal-16-9-2-col-span-width: 214px;
		--media-container-horizontal-16-9-2-col-span-height: 120px;
		--media-container-horizontal-4-3-6-col-span-width: 572px;
		--media-container-horizontal-4-3-6-col-span-height: 429px;
		--media-container-horizontal-4-3-5-col-span-width: 452px;
		--media-container-horizontal-4-3-5-col-span-height: 339px;
		--media-container-horizontal-4-3-4-col-span-width: 333px;
		--media-container-horizontal-4-3-4-col-span-height: 250px;
		--media-container-horizontal-4-3-3-col-span-width: 214px;
		--media-container-horizontal-4-3-3-col-span-height: 160px;
		--media-container-horizontal-4-3-2-col-span-width: 214px;
		--media-container-horizontal-4-3-2-col-span-height: 160px;
		--media-container-horizontal-3-2-6-col-span-width: 572px;
		--media-container-horizontal-3-2-6-col-span-height: 380px;
		--media-container-horizontal-3-2-5-col-span-width: 452px;
		--media-container-horizontal-3-2-5-col-span-height: 300px;
		--media-container-horizontal-3-2-4-col-span-width: 333px;
		--media-container-horizontal-3-2-4-col-span-height: 222px;
		--media-container-horizontal-3-2-3-col-span-width: 214px;
		--media-container-horizontal-3-2-3-col-span-height: 142px;
		--media-container-horizontal-3-2-2-col-span-width: 214px;
		--media-container-horizontal-3-2-2-col-span-height: 142px;
		--media-container-square-1-1-6-col-span-width: 572px;
		--media-container-square-1-1-6-col-span-height: 572px;
		--media-container-square-1-1-5-col-span-width: 452px;
		--media-container-square-1-1-5-col-span-height: 452px;
		--media-container-square-1-1-4-col-span-width: 333px;
		--media-container-square-1-1-4-col-span-height: 333px;
		--media-container-square-1-1-3-col-span-width: 214px;
		--media-container-square-1-1-3-col-span-height: 214px;
		--media-container-square-1-1-2-col-span-width: 214px;
		--media-container-square-1-1-2-col-span-height: 214px;
		--grid-column-count-count: var(--grid-column-count-8);
		--grid-container-width-container-width: 1136px;
		--grid-gutter-gutter: var(--grid-gutter-24);
		--grid-margin-margin: var(--grid-margin-48);
		--break-point-vh: 608px;
		--spacing-1200: var(--spacing-80);
		--spacing-1100: var(--spacing-64);
		--spacing-1050: var(--spacing-48);
		--spacing-1025: var(--spacing-48);
		--spacing-1000: var(--spacing-48);
		--spacing-900: var(--spacing-44);
		--spacing-800: var(--spacing-32);
		--spacing-700: var(--spacing-28);
		--spacing-650: var(--spacing-24);
		--spacing-600: var(--spacing-24);
		--spacing-550: var(--spacing-16);
		--spacing-500: var(--spacing-16);
		--spacing-450: var(--spacing-16);
		--spacing-400: var(--spacing-16);
		--spacing-300: var(--spacing-12);
		--spacing-200: var(--spacing-8);
		--spacing-100: var(--spacing-4);
		--t--caption-1: var(--font-value-14);
		--t--caption-2: var(--font-value-13);
		--t--heading-1: var(--font-value-64);
		--t--heading-2: var(--font-value-52);
		--t--heading-3: var(--font-value-36);
		--t--heading-4: var(--font-value-36);
		--t--heading-5: var(--font-value-24);
		--t--heading-6: var(--font-value-20);
		--t--subheading-1: var(--font-value-18);
		--t--subheading-2: var(--font-value-16);
		--t--subheading-3: var(--font-value-14);
		--t--paragraph-1: var(--font-value-16);
		--t--paragraph-2: var(--font-value-14);
		--t--paragraph-3: var(--font-value-12);
		--t--paragraph-4: var(--font-value-12);
		--t--paragraph-5: var(--font-value-10);
		--t--btn-1: var(--font-value-18);
		--t--btn-2: var(--font-value-14);
		--t--btn-3: var(--font-value-16);
		--t--link-1: var(--font-value-18);
		--t--link-2: var(--font-value-16);
		--t--link-3: var(--font-value-14);
		--t--line-height-100: var(--font-value-12);
		--t--line-height-200: var(--font-value-16);
		--t--line-height-300: var(--font-value-20);
		--t--line-height-400: var(--font-value-24);
		--t--line-height-500: var(--font-value-28);
		--t--line-height-550: var(--font-value-28);
		--t--line-height-600: var(--font-value-28);
		--t--line-height-700: var(--font-value-28);
		--t--line-height-800: var(--font-value-40);
		--t--line-height-1000: var(--font-value-32);
		--t--line-height-1200: var(--font-value-52);
		--t--line-height-1400: var(--font-value-56);
		--t--line-height-1600: var(--font-value-56);
		--t--line-height-1800: var(--font-value-64);
		--t--line-height-1900: var(--font-value-64);
		--t--line-height-2000: var(--font-value-64);
		--t--navigation-1: var(--font-value-18);
		--t--navigation-2: var(--font-value-16);
		--t--navigation-3: var(--font-value-14);
		--t--navigation-4: var(--font-value-12);
		--t--input-field-1: var(--font-value-14);
		--t--input-field-2: var(--font-value-12);
		--t--input-field-3: var(--font-value-10);
		--t--interface-1: var(--font-value-18);
		--t--interface-2: var(--font-value-16);
		--t--interface-3: var(--font-value-14);
		--t--interface-4: var(--font-value-12);
		--t--testimonial-1: var(--font-value-20);
		--t--card-title-1: var(--font-value-22);
		--t--card-title-2: var(--font-value-20);
		--t--card-title-3: var(--font-value-18);
		--t--large-numbers-1: var(--font-value-64);
		--t--large-numbers-2: var(--font-value-48);
		--grid-span-beta-1-col-span: 95px;
		--grid-span-beta-2-col-span: 214px;
		--grid-span-beta-3-col-span: 333px;
		--grid-span-beta-4-col-span: 452px;
		--grid-span-beta-5-col-span: 571px;
		--grid-span-beta-6-col-span: 571px;
		--grid-span-beta-7-col-span: 690px;
		--grid-span-beta-8-col-span: 690px;
		--grid-span-beta-9-col-span: 809px;
		--grid-span-beta-10-col-span: 809px;
		--grid-span-beta-11-col-span: 928px;
		--grid-span-beta-12-col-span: 928px;
		--t--tabs-1: var(--font-value-16);
		--padding-vertical-4xs: var(--spacing-8);
	}
}

@include tablet-big {
	/* Responsive - Small (768-1279) */
	:root {
		--border-radius-xs: var(--radius-4);
		--border-radius-s: var(--radius-8);
		--border-radius-m: var(--radius-12);
		--border-radius-lg: var(--radius-16);
		--border-radius-xl: var(--radius-20);
		--border-radius-xxl: var(--radius-28);
		--border-radius-3xl: var(--radius-28);
		--break-point-vw: 768px;
		--grid-container-width: 768px;
		--media-container-vertical-2-3-6-col-span-width: 536px;
		--padding-vertical-4xl: var(--spacing-88);
		--padding-vertical-3xl: var(--spacing-80);
		--padding-vertical-2xl: var(--spacing-64);
		--padding-vertical-lg: var(--spacing-40);
		--padding-vertical-md: var(--spacing-40);
		--padding-vertical-s: var(--spacing-32);
		--padding-vertical-xs: var(--spacing-32);
		--padding-vertical-2xs: var(--spacing-16);
		--padding-horizontal-3xl: var(--spacing-72);
		--padding-vertical-3xs: var(--spacing-8);
		--padding-horizontal-2xl: var(--spacing-64);
		--padding-horizontal-xl: var(--spacing-64);
		--padding-horizontal-m: var(--spacing-24);
		--padding-horizontal-s: var(--spacing-24);
		--padding-horizontal-xs: var(--spacing-24);
		--padding-horizontal-2xs: var(--spacing-24);
		--padding-horizontal-3xs: var(--spacing-20);
		--padding-horizontal-4xs: var(--spacing-16);
		--padding-horizontal-5xs: var(--spacing-8);
		--media-container-vertical-2-3-6-col-span-height: 804px;
		--media-container-vertical-2-3-5-col-span-width: 444px;
		--media-container-vertical-2-3-5-col-span-height: 666px;
		--media-container-vertical-2-3-4-col-span-width: 352px;
		--media-container-vertical-2-3-4-col-span-height: 528px;
		--media-container-vertical-2-3-3-col-span-width: 260px;
		--media-container-vertical-2-3-3-col-span-height: 390px;
		--media-container-vertical-2-3-2-col-span-width: 260px;
		--media-container-vertical-2-3-2-col-span-height: 390px;
		--media-container-vertical-3-4-6-col-span-width: 536px;
		--media-container-vertical-3-4-6-col-span-height: 714px;
		--media-container-vertical-3-4-5-col-span-width: 444px;
		--media-container-vertical-3-4-5-col-span-height: 592px;
		--media-container-vertical-3-4-4-col-span-width: 352px;
		--media-container-vertical-3-4-4-col-span-height: 469px;
		--media-container-vertical-3-4-3-col-span-width: 260px;
		--media-container-vertical-3-4-3-col-span-height: 346px;
		--media-container-vertical-3-4-2-col-span-width: 260px;
		--media-container-vertical-3-4-2-col-span-height: 346px;
		--media-container-horizontal-16-9-12-col-span-width: var(--grid-container-width-container-width);
		--media-container-horizontal-16-9-12-col-span-height: 405px;
		--media-container-horizontal-16-9-11-col-span-width: 720px;
		--media-container-horizontal-16-9-11-col-span-height: 405px;
		--media-container-horizontal-16-9-10-col-span-width: 628px;
		--media-container-horizontal-16-9-10-col-span-height: 354px;
		--media-container-horizontal-16-9-9-col-span-width: 628px;
		--media-container-horizontal-16-9-9-col-span-height: 354px;
		--media-container-horizontal-16-9-8-col-span-width: 628px;
		--media-container-horizontal-16-9-7-col-span-width: 536px;
		--media-container-horizontal-16-9-7-col-span-height: 298px;
		--media-container-horizontal-16-9-8-col-span-height: 354px;
		--media-container-horizontal-16-9-6-col-span-width: 536px;
		--media-container-horizontal-16-9-6-col-span-height: 298px;
		--media-container-horizontal-16-9-5-col-span-width: 444px;
		--media-container-horizontal-16-9-5-col-span-height: 248px;
		--media-container-horizontal-16-9-4-col-span-width: 352px;
		--media-container-horizontal-16-9-4-col-span-height: 196px;
		--media-container-horizontal-16-9-3-col-span-width: 260px;
		--media-container-horizontal-16-9-3-col-span-height: 145px;
		--media-container-horizontal-16-9-2-col-span-width: 260px;
		--media-container-horizontal-16-9-2-col-span-height: 145px;
		--media-container-horizontal-4-3-6-col-span-width: 536px;
		--media-container-horizontal-4-3-6-col-span-height: 402px;
		--media-container-horizontal-4-3-5-col-span-width: 444px;
		--media-container-horizontal-4-3-5-col-span-height: 333px;
		--media-container-horizontal-4-3-4-col-span-width: 352px;
		--media-container-horizontal-4-3-4-col-span-height: 264px;
		--media-container-horizontal-4-3-3-col-span-width: 260px;
		--media-container-horizontal-4-3-3-col-span-height: 195px;
		--media-container-horizontal-4-3-2-col-span-width: 260px;
		--media-container-horizontal-4-3-2-col-span-height: 195px;
		--media-container-horizontal-3-2-6-col-span-width: 536px;
		--media-container-horizontal-3-2-6-col-span-height: 356px;
		--media-container-horizontal-3-2-5-col-span-width: 444px;
		--media-container-horizontal-3-2-5-col-span-height: 296px;
		--media-container-horizontal-3-2-4-col-span-width: 352px;
		--media-container-horizontal-3-2-4-col-span-height: 234px;
		--media-container-horizontal-3-2-3-col-span-width: 260px;
		--media-container-horizontal-3-2-3-col-span-height: 174px;
		--media-container-horizontal-3-2-2-col-span-width: 260px;
		--media-container-horizontal-3-2-2-col-span-height: 174px;
		--media-container-square-1-1-6-col-span-width: 536px;
		--media-container-square-1-1-6-col-span-height: 536px;
		--media-container-square-1-1-5-col-span-width: 444px;
		--media-container-square-1-1-5-col-span-height: 444px;
		--media-container-square-1-1-4-col-span-width: 352px;
		--media-container-square-1-1-4-col-span-height: 352px;
		--media-container-square-1-1-3-col-span-width: 260px;
		--media-container-square-1-1-3-col-span-height: 260px;
		--media-container-square-1-1-2-col-span-width: 260px;
		--media-container-square-1-1-2-col-span-height: 260px;
		--grid-column-count-count: var(--grid-column-count-8);
		--grid-container-width-container-width: 720px;
		--grid-gutter-gutter: var(--grid-gutter-16);
		--grid-margin-margin: var(--grid-margin-24);
		--break-point-vh: 1024px;
		--spacing-1200: var(--spacing-80);
		--spacing-1100: var(--spacing-64);
		--spacing-1050: var(--spacing-48);
		--spacing-1025: var(--spacing-48);
		--spacing-1000: var(--spacing-48);
		--spacing-900: var(--spacing-44);
		--spacing-800: var(--spacing-32);
		--spacing-700: var(--spacing-28);
		--spacing-650: var(--spacing-24);
		--spacing-600: var(--spacing-24);
		--spacing-550: var(--spacing-16);
		--spacing-500: var(--spacing-16);
		--spacing-450: var(--spacing-16);
		--spacing-400: var(--spacing-16);
		--spacing-300: var(--spacing-12);
		--spacing-200: var(--spacing-8);
		--spacing-100: var(--spacing-4);
		--t--caption-1: var(--font-value-12);
		--t--caption-2: var(--font-value-10);
		--t--heading-1: var(--font-value-44);
		--t--heading-2: var(--font-value-36);
		--t--heading-3: var(--font-value-32);
		--t--heading-4: var(--font-value-32);
		--t--heading-5: var(--font-value-24);
		--t--heading-6: var(--font-value-20);
		--t--subheading-1: var(--font-value-18);
		--t--subheading-2: var(--font-value-14);
		--t--subheading-3: var(--font-value-14);
		--t--paragraph-1: var(--font-value-16);
		--t--paragraph-2: var(--font-value-14);
		--t--paragraph-3: var(--font-value-12);
		--t--paragraph-4: var(--font-value-12);
		--t--paragraph-5: var(--font-value-10);
		--t--btn-1: var(--font-value-18);
		--t--btn-2: var(--font-value-14);
		--t--btn-3: var(--font-value-16);
		--t--link-1: var(--font-value-18);
		--t--link-2: var(--font-value-16);
		--t--link-3: var(--font-value-14);
		--t--line-height-100: var(--font-value-12);
		--t--line-height-200: var(--font-value-16);
		--t--line-height-300: var(--font-value-20);
		--t--line-height-400: var(--font-value-24);
		--t--line-height-500: var(--font-value-24);
		--t--line-height-550: var(--font-value-28);
		--t--line-height-600: var(--font-value-28);
		--t--line-height-700: var(--font-value-28);
		--t--line-height-800: var(--font-value-40);
		--t--line-height-1000: var(--font-value-32);
		--t--line-height-1200: var(--font-value-48);
		--t--line-height-1400: var(--font-value-52);
		--t--line-height-1600: var(--font-value-48);
		--t--line-height-1800: var(--font-value-48);
		--t--line-height-1900: var(--font-value-60);
		--t--line-height-2000: var(--font-value-64);
		--t--navigation-1: var(--font-value-18);
		--t--navigation-2: var(--font-value-16);
		--t--navigation-3: var(--font-value-14);
		--t--navigation-4: var(--font-value-12);
		--t--input-field-1: var(--font-value-14);
		--t--input-field-2: var(--font-value-12);
		--t--input-field-3: var(--font-value-10);
		--t--interface-1: var(--font-value-18);
		--t--interface-2: var(--font-value-14);
		--t--interface-3: var(--font-value-14);
		--t--interface-4: var(--font-value-12);
		--t--testimonial-1: var(--font-value-20);
		--t--card-title-1: var(--font-value-22);
		--t--card-title-2: var(--font-value-20);
		--t--card-title-3: var(--font-value-18);
		--t--large-numbers-1: var(--font-value-64);
		--t--large-numbers-2: var(--font-value-44);
		--grid-span-beta-1-col-span: var(--grid-margin-24);
		--grid-span-beta-2-col-span: var(--grid-margin-24);
		--grid-span-beta-3-col-span: var(--grid-margin-24);
		--grid-span-beta-4-col-span: var(--grid-margin-24);
		--grid-span-beta-5-col-span: var(--grid-margin-24);
		--grid-span-beta-6-col-span: var(--grid-margin-24);
		--grid-span-beta-7-col-span: var(--grid-margin-24);
		--grid-span-beta-8-col-span: var(--grid-margin-24);
		--grid-span-beta-9-col-span: var(--grid-margin-24);
		--grid-span-beta-10-col-span: var(--grid-margin-24);
		--grid-span-beta-11-col-span: var(--grid-margin-24);
		--grid-span-beta-12-col-span: var(--grid-margin-24);
		--t--tabs-1: var(--font-value-16);
		--padding-vertical-4xs: var(--spacing-8);
	}
}

@include mobile {
	/* Responsive - XSmall(360-767) */
	:root {
		--border-radius-xs: var(--radius-4);
		--border-radius-s: var(--radius-8);
		--border-radius-m: var(--radius-12);
		--border-radius-lg: var(--radius-16);
		--border-radius-xl: var(--radius-20);
		--border-radius-xxl: var(--radius-28);
		--border-radius-3xl: var(--radius-28);
		--break-point-vw: 360px;
		--grid-container-width: 360px;
		--media-container-vertical-2-3-6-col-span-width: 312px;
		--padding-vertical-4xl: var(--spacing-64);
		--padding-vertical-3xl: var(--spacing-64);
		--padding-vertical-2xl: var(--spacing-64);
		--padding-vertical-lg: var(--spacing-40);
		--padding-vertical-md: var(--spacing-40);
		--padding-vertical-s: var(--spacing-32);
		--padding-vertical-xs: var(--spacing-32);
		--padding-vertical-2xs: var(--spacing-16);
		--padding-horizontal-3xl: var(--spacing-72);
		--padding-vertical-3xs: var(--spacing-8);
		--padding-horizontal-2xl: var(--spacing-64);
		--padding-horizontal-xl: var(--spacing-64);
		--padding-horizontal-m: var(--spacing-24);
		--padding-horizontal-s: var(--spacing-24);
		--padding-horizontal-xs: var(--spacing-24);
		--padding-horizontal-2xs: var(--spacing-24);
		--padding-horizontal-3xs: var(--spacing-16);
		--padding-horizontal-4xs: var(--spacing-8);
		--padding-horizontal-5xs: var(--spacing-8);
		--media-container-vertical-2-3-6-col-span-height: 468px;
		--media-container-vertical-2-3-5-col-span-width: 312px;
		--media-container-vertical-2-3-5-col-span-height: 468px;
		--media-container-vertical-2-3-4-col-span-width: 312px;
		--media-container-vertical-2-3-4-col-span-height: 468px;
		--media-container-vertical-2-3-3-col-span-width: 232px;
		--media-container-vertical-2-3-3-col-span-height: 348px;
		--media-container-vertical-2-3-2-col-span-width: 232px;
		--media-container-vertical-2-3-2-col-span-height: 348px;
		--media-container-vertical-3-4-6-col-span-width: 312px;
		--media-container-vertical-3-4-6-col-span-height: 416px;
		--media-container-vertical-3-4-5-col-span-width: 312px;
		--media-container-vertical-3-4-5-col-span-height: 416px;
		--media-container-vertical-3-4-4-col-span-width: 312px;
		--media-container-vertical-3-4-4-col-span-height: 416px;
		--media-container-vertical-3-4-3-col-span-width: 232px;
		--media-container-vertical-3-4-3-col-span-height: 309px;
		--media-container-vertical-3-4-2-col-span-width: 232px;
		--media-container-vertical-3-4-2-col-span-height: 309px;
		--media-container-horizontal-16-9-12-col-span-width: var(--grid-container-width-container-width);
		--media-container-horizontal-16-9-12-col-span-height: 174px;
		--media-container-horizontal-16-9-11-col-span-width: 312px;
		--media-container-horizontal-16-9-11-col-span-height: 174px;
		--media-container-horizontal-16-9-10-col-span-width: 312px;
		--media-container-horizontal-16-9-10-col-span-height: 174px;
		--media-container-horizontal-16-9-9-col-span-width: 312px;
		--media-container-horizontal-16-9-9-col-span-height: 174px;
		--media-container-horizontal-16-9-8-col-span-width: 312px;
		--media-container-horizontal-16-9-7-col-span-width: 312px;
		--media-container-horizontal-16-9-7-col-span-height: 174px;
		--media-container-horizontal-16-9-8-col-span-height: 174px;
		--media-container-horizontal-16-9-6-col-span-width: 312px;
		--media-container-horizontal-16-9-6-col-span-height: 174px;
		--media-container-horizontal-16-9-5-col-span-width: 312px;
		--media-container-horizontal-16-9-5-col-span-height: 174px;
		--media-container-horizontal-16-9-4-col-span-width: 312px;
		--media-container-horizontal-16-9-4-col-span-height: 174px;
		--media-container-horizontal-16-9-3-col-span-width: 232px;
		--media-container-horizontal-16-9-3-col-span-height: 129px;
		--media-container-horizontal-16-9-2-col-span-width: 232px;
		--media-container-horizontal-16-9-2-col-span-height: 129px;
		--media-container-horizontal-4-3-6-col-span-width: 312px;
		--media-container-horizontal-4-3-6-col-span-height: 234px;
		--media-container-horizontal-4-3-5-col-span-width: 312px;
		--media-container-horizontal-4-3-5-col-span-height: 234px;
		--media-container-horizontal-4-3-4-col-span-width: 312px;
		--media-container-horizontal-4-3-4-col-span-height: 234px;
		--media-container-horizontal-4-3-3-col-span-width: 232px;
		--media-container-horizontal-4-3-3-col-span-height: 174px;
		--media-container-horizontal-4-3-2-col-span-width: 232px;
		--media-container-horizontal-4-3-2-col-span-height: 174px;
		--media-container-horizontal-3-2-6-col-span-width: 312px;
		--media-container-horizontal-3-2-6-col-span-height: 208px;
		--media-container-horizontal-3-2-5-col-span-width: 312px;
		--media-container-horizontal-3-2-5-col-span-height: 208px;
		--media-container-horizontal-3-2-4-col-span-width: 312px;
		--media-container-horizontal-3-2-4-col-span-height: 208px;
		--media-container-horizontal-3-2-3-col-span-width: 232px;
		--media-container-horizontal-3-2-3-col-span-height: 260px;
		--media-container-horizontal-3-2-2-col-span-width: 232px;
		--media-container-horizontal-3-2-2-col-span-height: 260px;
		--media-container-square-1-1-6-col-span-width: 312px;
		--media-container-square-1-1-6-col-span-height: 312px;
		--media-container-square-1-1-5-col-span-width: 312px;
		--media-container-square-1-1-5-col-span-height: 312px;
		--media-container-square-1-1-4-col-span-width: 312px;
		--media-container-square-1-1-4-col-span-height: 312px;
		--media-container-square-1-1-3-col-span-width: 232px;
		--media-container-square-1-1-3-col-span-height: 232px;
		--media-container-square-1-1-2-col-span-width: 232px;
		--media-container-square-1-1-2-col-span-height: 232px;
		--grid-column-count-count: var(--grid-column-count-4);
		--grid-container-width-container-width: 312px;
		--grid-gutter-gutter: var(--grid-gutter-8);
		--grid-margin-margin: var(--grid-margin-24);
		--break-point-vh: 800px;
		--spacing-1200: var(--spacing-48);
		--spacing-1100: var(--spacing-48);
		--spacing-1050: var(--spacing-32);
		--spacing-1025: var(--spacing-32);
		--spacing-1000: var(--spacing-32);
		--spacing-900: var(--spacing-32);
		--spacing-800: var(--spacing-28);
		--spacing-700: var(--spacing-24);
		--spacing-650: var(--spacing-20);
		--spacing-600: var(--spacing-20);
		--spacing-550: var(--spacing-16);
		--spacing-500: var(--spacing-16);
		--spacing-450: var(--spacing-16);
		--spacing-400: var(--spacing-12);
		--spacing-300: var(--spacing-12);
		--spacing-200: var(--spacing-4);
		--spacing-100: var(--spacing-4);
		--t--caption-1: var(--font-value-12);
		--t--caption-2: var(--font-value-10);
		--t--heading-1: var(--font-value-36);
		--t--heading-2: var(--font-value-36);
		--t--heading-3: var(--font-value-32);
		--t--heading-4: var(--font-value-32);
		--t--heading-5: var(--font-value-24);
		--t--heading-6: var(--font-value-20);
		--t--subheading-1: var(--font-value-18);
		--t--subheading-2: var(--font-value-14);
		--t--subheading-3: var(--font-value-14);
		--t--paragraph-1: var(--font-value-16);
		--t--paragraph-2: var(--font-value-12);
		--t--paragraph-3: var(--font-value-10);
		--t--paragraph-4: var(--font-value-10);
		--t--paragraph-5: var(--font-value-8);
		--t--btn-1: var(--font-value-18);
		--t--btn-2: var(--font-value-14);
		--t--btn-3: var(--font-value-16);
		--t--link-1: var(--font-value-18);
		--t--link-2: var(--font-value-16);
		--t--link-3: var(--font-value-14);
		--t--line-height-100: var(--font-value-12);
		--t--line-height-200: var(--font-value-16);
		--t--line-height-300: var(--font-value-20);
		--t--line-height-400: var(--font-value-20);
		--t--line-height-500: var(--font-value-24);
		--t--line-height-550: var(--font-value-24);
		--t--line-height-600: var(--font-value-28);
		--t--line-height-700: var(--font-value-28);
		--t--line-height-800: var(--font-value-40);
		--t--line-height-1000: var(--font-value-32);
		--t--line-height-1200: var(--font-value-48);
		--t--line-height-1400: var(--font-value-48);
		--t--line-height-1600: var(--font-value-48);
		--t--line-height-1800: var(--font-value-48);
		--t--line-height-1900: var(--font-value-60);
		--t--line-height-2000: var(--font-value-64);
		--t--navigation-1: var(--font-value-16);
		--t--navigation-2: var(--font-value-14);
		--t--navigation-3: var(--font-value-12);
		--t--navigation-4: var(--font-value-12);
		--t--input-field-1: var(--font-value-14);
		--t--input-field-2: var(--font-value-12);
		--t--input-field-3: var(--font-value-10);
		--t--interface-1: var(--font-value-16);
		--t--interface-2: var(--font-value-14);
		--t--interface-3: var(--font-value-12);
		--t--interface-4: var(--font-value-10);
		--t--testimonial-1: var(--font-value-20);
		--t--card-title-1: var(--font-value-22);
		--t--card-title-2: var(--font-value-20);
		--t--card-title-3: var(--font-value-18);
		--t--large-numbers-1: var(--font-value-64);
		--t--large-numbers-2: var(--font-value-40);
		--grid-span-beta-1-col-span: var(--grid-margin-24);
		--grid-span-beta-2-col-span: var(--grid-margin-24);
		--grid-span-beta-3-col-span: var(--grid-margin-24);
		--grid-span-beta-4-col-span: var(--grid-margin-24);
		--grid-span-beta-5-col-span: var(--grid-margin-24);
		--grid-span-beta-6-col-span: var(--grid-margin-24);
		--grid-span-beta-7-col-span: var(--grid-margin-24);
		--grid-span-beta-8-col-span: var(--grid-margin-24);
		--grid-span-beta-9-col-span: var(--grid-margin-24);
		--grid-span-beta-10-col-span: var(--grid-margin-24);
		--grid-span-beta-11-col-span: var(--grid-margin-24);
		--grid-span-beta-12-col-span: var(--grid-margin-24);
		--t--tabs-1: var(--font-value-16);
		--padding-vertical-4xs: var(--spacing-8);
	}
}
