/* Primitives */
:root {
	--c--brand-primary-0: rgba(27, 16, 41, 1);
	--c--brand-primary-125: rgba(62, 36, 92, 1);
	--c--brand-primary-250-main: rgba(108, 68, 228, 1);
	--c--brand-primary-250-15: rgba(108, 68, 228, 0.15000000596046448);
	--c--brand-primary-375: rgba(134, 102, 231, 1);
	--c--brand-primary-500: rgba(160, 136, 235, 1);
	--c--brand-primary-750: rgba(226, 217, 255, 1);
	--c--brand-primary-750-60: rgba(226, 217, 255, 0.6000000238418579);
	--c--brand-primary-1000: rgba(246, 245, 250, 1);
	--c--brand-accents-1: rgba(221, 120, 70, 1);
	--c--brand-accents-2: rgba(209, 255, 139, 1);
	--c--brand-accents-3: rgba(141, 222, 183, 1);
	--c--brand-accents-4: rgba(48, 98, 85, 1);
	--c--brand-accents-5: rgba(186, 191, 250, 1);
	--c--brand-accents-6: rgba(95, 87, 159, 1);
	--c--brand-neutral-0: rgba(0, 0, 0, 1);
	--c--brand-neutral-100: rgba(18, 18, 18, 1);
	--c--brand-neutral-100-10: rgba(18, 18, 18, 0.10000000149011612);
	--c--brand-neutral-100-50: rgba(18, 18, 18, 0.5);
	--c--brand-neutral-125: rgba(33, 31, 35, 1);
	--c--brand-neutral-125-20: rgba(33, 31, 35, 0.20000000298023224);
	--c--brand-neutral-250: rgba(94, 90, 98, 1);
	--c--brand-neutral-250-20: rgba(94, 90, 98, 0.20000000298023224);
	--c--brand-neutral-250-50: rgba(94, 90, 98, 0.5);
	--c--brand-neutral-300: rgba(112, 108, 130, 1);
	--c--brand-neutral-375: rgba(119, 117, 129, 1);
	--c--brand-neutral-500: rgba(153, 150, 168, 1);
	--c--brand-neutral-625: rgba(182, 178, 199, 1);
	--c--brand-neutral-750: rgba(225, 223, 236, 1);
	--c--brand-neutral-750-80: rgba(225, 223, 236, 0.800000011920929);
	--c--brand-neutral-875: rgba(237, 236, 244, 1);
	--c--brand-neutral-875-40: rgba(237, 236, 244, 0.4000000059604645);
	--c--brand-neutral-1000: rgba(255, 255, 255, 1);
	--c--brand-neutral-1000-10: rgba(255, 255, 255, 0.10000000149011612);
	--c--brand-neutral-1000-50: rgba(255, 255, 255, 0.5);
	--c--semantic-success-0: rgba(0, 26, 0, 1);
	--c--semantic-success-200: rgba(3, 74, 3, 1);
	--c--semantic-success-400: rgba(5, 118, 5, 1);
	--c--semantic-success-600: rgba(72, 223, 72, 1);
	--c--semantic-success-800: rgba(149, 245, 149, 1);
	--c--semantic-success-1000: rgba(245, 255, 245, 1);
	--c--semantic-info-0: rgba(0, 17, 26, 1);
	--c--semantic-info-200: rgba(3, 50, 74, 1);
	--c--semantic-info-400: rgba(25, 127, 178, 1);
	--c--semantic-info-600: rgba(71, 171, 221, 1);
	--c--semantic-info-800: rgba(148, 213, 245, 1);
	--c--semantic-info-1000: rgba(245, 252, 255, 1);
	--c--semantic-warning-0: rgba(26, 16, 0, 1);
	--c--semantic-warning-200: rgba(74, 48, 3, 1);
	--c--semantic-warning-400: rgba(178, 122, 25, 1);
	--c--semantic-warning-600: rgba(221, 159, 53, 1);
	--c--semantic-warning-800: rgba(245, 209, 148, 1);
	--c--semantic-warning-1000: rgba(255, 251, 245, 1);
	--c--semantic-error-0: rgba(26, 0, 0, 1);
	--c--semantic-error-200: rgba(74, 3, 3, 1);
	--c--semantic-error-400: rgba(182, 26, 26, 1);
	--c--semantic-error-600: rgba(223, 72, 72, 1);
	--c--semantic-error-600-30: rgba(223, 72, 72, 0.30000001192092896);
	--c--semantic-error-800: rgba(245, 149, 149, 1);
	--c--semantic-error-1000: rgba(255, 245, 245, 1);
	--font-weight-100: thin;
	--font-weight-100-italic: thin italic;
	--font-weight-200: light;
	--font-weight-200-italic: light italic;
	--font-weight-400: regular;
	--font-weight-400-italic: regular italic;
	--font-weight-500: medium;
	--font-weight-500-italic: medium italic;
	--font-weight-700: bold;
	--font-weight-700-italic: bold italic;
	--font-weight-800: extra bold;
	--font-value-4: 4px;
	--font-weight-800-italic: extra bold italic;
	--font-value-8: 8px;
	--font-value-10: 10px;
	--font-value-12: 12px;
	--font-value-13: 13px;
	--font-value-14: 14px;
	--font-value-15: 15px;
	--font-value-16: 16px;
	--font-value-18: 18px;
	--font-value-19: 19px;
	--font-value-20: 20px;
	--font-value-22: 22px;
	--font-value-24: 24px;
	--font-value-25: 25px;
	--font-value-26: 26px;
	--font-value-28: 28px;
	--font-value-32: 32px;
	--font-value-34: 34px;
	--font-value-36: 36px;
	--font-value-40: 40px;
	--font-value-44: 44px;
	--font-value-45: 45px;
	--font-value-48: 48px;
	--font-value-52: 52px;
	--font-value-56: 56px;
	--font-value-60: 60px;
	--font-value-64: 64px;
	--font-value-68: 68px;
	--font-value-72: 72px;
	--font-value-78: 78px;
	--font-value-80: 80px;
	--font-value-96: 96px;
	--grid-gutter-8: 8px;
	--grid-gutter-16: 16px;
	--grid-gutter-24: 24px;
	--grid-margin-24: 24px;
	--grid-margin-48: 48px;
	--grid-margin-64: 64px;
	--grid-column-count-3: 3px;
	--grid-column-count-4: 4px;
	--grid-column-count-8: 8px;
	--grid-column-count-12: 12px;
	--font-family-primary: 'KHTeka';
	--font-family-secondary: 'KHTeka';
	--radius-4: 4px;
	--radius-8: 8px;
	--radius-12: 12px;
	--radius-16: 16px;
	--radius-20: 20px;
	--radius-24: 24px;
	--radius-28: 28px;
	--radius-40: 40px;
	--spacing-4: 4px;
	--spacing-8: 8px;
	--spacing-12: 12px;
	--spacing-16: 16px;
	--spacing-20: 20px;
	--spacing-24: 24px;
	--spacing-28: 28px;
	--spacing-32: 32px;
	--spacing-36: 36px;
	--spacing-40: 40px;
	--spacing-44: 44px;
	--spacing-48: 48px;
	--spacing-52: 52px;
	--spacing-56: 56px;
	--spacing-60: 60px;
	--spacing-64: 64px;
	--spacing-72: 72px;
	--spacing-76: 76px;
	--spacing-80: 80px;
	--spacing-84: 84px;
	--spacing-88: 88px;
	--spacing-96: 96px;
	--spacing-104: 104px;
	--spacing-108: 108px;
	--spacing-116: 116px;
	--spacing-120: 120px;
	--spacing-128: 128px;
	--spacing-132: 132px;
	--spacing-140: 140px;
	--spacing-144: 144px;
}
