@use 'config' as *;

.cky-consent-container,
.cky-btn-revisit-wrapper {
	z-index: 499 !important;
}

.cky-revisit-bottom-left {
	bottom: fluid(16px, 32px) !important;
	left: fluid(16px, 32px) !important;
}

.cky-preference-header {
	padding: fluid(38px, 56px) fluid(16px, 32px) rem(12px) fluid(16px, 32px) !important;

	.cky-preference-title {
		display: block;
		font-size: 1rem !important;
		font-weight: 600 !important;
		line-height: 1.75 !important;
	}
}

div[data-cky-tag='detail-powered-by'] {
	display: none !important;
}

.cky-always-active {
	color: var(--brand-primary-30) !important;
}

.cky-btn-close {
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	width: rem(36px) !important;
	height: rem(36px) !important;
	border: 1px solid transparent;
	border-radius: 2px !important;
	border-radius: 0 !important;
	background-color: var(--brand-primary-30);
	transition: scale 0.4s ease-in-out !important;
	translate: 0 fluid(-24px, -48px) !important;

	&:hover,
	&:focus {
		scale: 0.8;
	}

	&::before {
		content: 'x';
		display: flex !important;
		align-items: center !important;
		justify-content: center !important;
		width: 16px;
		height: 16px;
		color: #fff;
		font-size: 17px;
		line-height: 100%;
		// background: url('../img/icons/x.svg') center / cover no-repeat;
	}

	img {
		display: none !important;
	}
}

.cky-audit-table {
	background-color: var(--c-white) !important;
}

.cky-notice-des *,
.cky-preference-content-wrapper *,
.cky-accordion-header-des *,
.cky-gpc-wrapper .cky-gpc-desc * {
	font-size: rem(12px) !important;
	line-height: 1.5 !important;
}

.cky-btn {
	border-width: 1px !important;
	border-radius: 20px !important;
}

.cky-btn-revisit-wrapper {
	display: none !important;
	width: 30px !important;
	height: 30px !important;
}

.cky-btn-revisit-wrapper .cky-btn-revisit img {
	width: 25px !important;
	height: 25px !important;
}
