@use 'config' as *;
@use 'typography' as *;

.site-footer {
	background-color: var(--bg-primary);
	padding-block: fluid(50px, 100px) fluid(24px, 32px);
	color: var(--footer-txt-link);

	&__top {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: fluid(24px, 32px) fluid(36px, 72px);
	}

	&__logo-hld {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;

		@include media-min(360) {
			align-items: flex-start;
		}

		@include lg {
			width: 20.5%;
		}
	}

	&__logo {
		display: inline-block;
		width: fit-content;

		img,
		svg {
			width: rem(172);
			height: auto;
		}

		svg {
			color: var(--txt-heading);
		}

		&:hover,
		&:focus-visible {
			scale: 1.05;
		}
	}

	&__buttons {
		margin-top: fluid(24px, 32px);
	}

	&__menus-hld {
		display: grid;
		flex: 1 1 0%;
		grid-template-columns: repeat(1, 1fr);
		gap: fluid(24px, 32px) fluid(36px, 72px);
		text-align: center;

		@include media-min(360) {
			grid-template-columns: repeat(2, 1fr);
			text-align: left;
		}

		@include media-min(640) {
			grid-template-columns: repeat(3, 1fr);
		}

		@include md {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	&__footer {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: fluid(24px, 32px);
		margin-top: fluid(36px, 72px);
		padding-top: fluid(24px, 32px);
		border-top: 1px solid var(--footer-icon-divider);
		text-align: center;

		@include md {
			flex-direction: row;
			align-items: center;
		}

		.t-paragraph {
			color: var(--footer-txt-link);
		}
	}

	&-nav {
		display: flex;
		flex-direction: column;
		gap: rem(12px);
		font-family: var(--font-family-secondary);
		font-size: var(--t--paragraph-3);

		&__title {
			margin-bottom: rem(14px);
			color: var(--footer-txt-footer-caption) !important;
		}

		&__item {
			color: var(--footer-txt-link);
			transition: color 0.3s ease-in-out;

			> a {
				@extend %footer-link;
			}

			&.site-footer-nav__title {
				margin-top: fluid(12px, 20px);
				margin-bottom: rem(2px);
			}
		}
	}
}

a.site-footer-nav__item {
	@extend %footer-link;
}

%footer-link {
	display: inline-block;
	position: relative;

	&::before {
		content: '';
		display: block;
		position: absolute;
		bottom: -4px;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: var(--footer-icon-primary-hover);
		transform-origin: right;
		transition: scale 0.3s ease-in-out;
		scale: 0 1;
	}

	&:hover {
		color: var(--footer-icon-primary-hover);

		&::before {
			scale: 1 1;
			transform-origin: left;
		}
	}
}
