@use 'config'as *;
@use 'buttons'as *;

.site-top {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 500;
	width: 100%;
	transition: transform 0.3s ease-in-out,
		background-color 0.3s ease-in-out;

	>.l-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&.is-scrolled {
		background-color: var(--bg-primary);
		box-shadow: 0 0 5px 0 rgba(49, 30, 4, 0.3);
	}

	&.is-scrolled-down {
		transform: translate3d(0, -100%, 0);
	}

	&__logo {
		display: inline-flex;
		padding-block: rem(28px);
		transition: scale 0.3s ease-in-out;

		img,
		svg {
			width: rem(172);
			height: auto;
		}

		svg {
			color: var(--txt-heading);
		}

		&:hover,
		&:focus-visible {
			scale: 1.05;
		}
	}

	&__nav {
		display: flex;
		gap: rem(40px);
	}

	&__btns {
		display: none;
		gap: rem(12px);

		@include xl {
			display: inline-flex;
		}
	}

	&__toggle-mobile {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: rem(32);
		height: rem(32);
		padding: 0;
		border: none !important;
		outline: none !important;
		background-color: transparent !important;
		gap: rem(5px);

		span:not(.u-sr-only) {
			display: block;
			width: rem(20);
			height: rem(2);
			border-radius: rem(2px);
			background-color: var(--txt-heading);
			transition: all 0.3s ease-in-out;

			.is-scrolled & {
				background-color: var(--txt-heading);
			}
		}

		@include xl {
			display: none;
		}
	}

	&:has(.mobile-nav-hld.is-active) {
		.site-top__toggle-mobile {

			span {
				&:nth-child(2) {
					opacity: 0;
				}

				&:first-child {
					rotate: 135deg;
					translate: 0 7px;
					width: rem(38);
				}

				&:nth-child(3) {
					rotate: -135deg;
					translate: 0 -7px;
					width: rem(38);
				}
			}
		}
	}
}

.site-top-nav {
	display: none;
	align-items: center;
	gap: rem(24);

	@include xl {
		display: flex;
	}

	& > .site-top-nav__item {
		display: flex;
		align-items: center;
		position: relative;

		&:hover,
		&:focus-visible,
		.current_page_parent,
		.current_page_item {
			& > a {
				.text {
					color: var(--txt-heading);

					&::before {
						display: none;
					}

					&::after {
						transform-origin: left;
						scale: 1 1;
					}
				}
			}
		}

		.arrow-down {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			color: var(--txt-heading);
		}

		& > a {
			display: inline-flex;
			padding: rem(28) 0;
			color: var(--txt-heading);

			.text {
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				color: transparent;
				font-family: var(--font-family-secondary);
				font-size: var(--t--navigation-2);
				font-weight: var(--font-weight-700);
				line-height: var(--t--line-hight-secondary-6);

				&::before {
					content: attr(data-title);
					display: block;
					position: absolute;
					color: var(--txt-heading);
					font-weight: var(--font-weight-400);
				}

				&::after {
					content: '';
					display: block;
					position: absolute;
					bottom: rem(-6px);
					left: 0;
					width: 100%;
					height: rem(1.5px);
					background-color: var(--txt-heading);
					transform-origin: right;
					transition: scale 0.3s ease-in-out;
					scale: 0 1;
				}
			}
		}

		&:hover {
			.sub-menu-wrap {
				pointer-events: auto;
				visibility: visible;
				opacity: 1;

				.is-scrolled-down & {
					pointer-events: none;
					visibility: hidden;
					opacity: 0;
				}
			}
		}
	}

	.sub-menu-wrap {
		display: flex;
		flex-wrap: wrap;
		position: fixed;
		top: rem(102px);
		pointer-events: none;
		max-width: 100vw;
		max-width: 100dvw;
		padding: rem(16);
		border: 1px solid var(--c--brand-primary-900);
		border-radius: var(--border-radius-s);
		background-color: var(--bg-primary);
		box-shadow: 0 0 5px 0 rgba(49, 30, 4, 0.3);
		transition: opacity 0.3s ease-in-out;
		visibility: hidden;
		opacity: 0;
		margin-inline: auto;

		&::before {
			content: '';
			position: absolute;
			top: rem(-24);
			left: 0;
			width: 100%;
			height: rem(24);
		}

		&__parent {
			display: none;
		}
	}

	.sub-menu {}
}
