@use 'config'as *;
@use 'buttons'as *;

.site-top {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 500;
	width: 100%;
	background-color: transparent;
	box-shadow: 0 25px 113px 0 rgba(0, 0, 0, 0.06);
	transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;

	@include tablet-small {
		display: none;
	}

	&.is-light {
		background-color: var(--c--brand-neutral-1000);
	}

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: rem(1400px);
		padding-inline: rem(28px);
	}

	&__logo {
		display: inline-flex;
		align-items: center;
		transition: scale 0.3s;
		padding-block: rem(24px);

		img,
		svg {
			width: auto;
			height: rem(30px);
		}

		&:hover,
		&:focus-visible {
			scale: 1.05;
		}
	}

	&__logo-image {
		display: none;
		align-items: center;
		justify-content: center;

		img,
		svg {
			width: auto;
			height: rem(30px);
		}
	}

	&__logo-image--for-dark-bg {
		.is-dark:not(.is-scrolled) & {
			display: inline-flex;
		}

		.is-light & {
			display: none;
		}
	}

	&__logo-image--for-light-bg {
		.is-dark:not(.is-scrolled) & {
			display: none;
		}

		.is-light & {
			display: inline-flex;
		}
	}

	&__navigation {
		display: flex;
		flex-grow: 1;
		justify-content: flex-start;
		margin-left: rem(48px);
	}

	&__actions {
		display: flex;
		align-items: center;
		gap: rem(4px);
	}

	&__action-item {
		display: inline-flex;
		align-items: center;
		padding: rem(8px) rem(12px);
		border-radius: rem(8px);
		color: var(--txt-heading);
		font-family: var(--font-family-secondary);
		font-size: var(--t--navigation-3, 14px);
		font-weight: var(--font-weight-400);
		line-height: var(--t--line-hight-secondary-6);
		transition: background-color 0.3s;
		gap: rem(4px);

		&:hover,
		&:focus-visible {
			background-color: var(--c--ui-gray-50);
			text-decoration: none;
		}

		&.is-active {
			background-color: var(--navigation-item-fill-hover);

			.text {
				color: var(--c--brand-primary-250-main);
			}

			.site-top__action-chevron {
				transform: rotate(180deg);
			}

			svg {
				path,
				ellipse {
					stroke: var(--c--brand-primary-250-main);

					.is-scrolled & {
						stroke: var(--c--brand-primary-250-main);
					}
				}
			}
		}

		&--global {
			&.is-active {
				.text {
					display: none;
				}
			}
		}

		.text {
			.is-scrolled & {
				color: var(--c--brand-neutral-100);
			}
		}

		.is-dark & {
			color: var(--txt-heading);

			svg path {
				stroke: var(--txt-heading);
			}
		}

		.is-light & {
			color: var(--txt-heading);
		}
	}

	&__action-icon {
		display: inline-flex;
		align-items: center;
		justify-content: center;

		&--globe svg {
			width: 20px;
			height: 20px;
		}

		svg {
			path,
			ellipse {
				.is-scrolled & {
					stroke: var(--c--brand-neutral-100);
				}
			}
		}
	}

	&__action-chevron {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		color: var(--navigation-txt-txt-navigation);

		.is-scrolled & {
			color: var(--c--brand-neutral-100);
		}

		svg {
			width: rem(16px);
			height: rem(16px);
		}
	}

	&__action-button {
		padding: rem(8px) rem(12px);
		font-family: var(--font-family-secondary);
		font-size: var(--t--btn-2, 14px);
		font-weight: var(--font-weight-400);
	}

	&__secondary-btns {
		display: none;
		gap: rem(12px);

		@include xl {
		}
	}

	&__btns {
		display: none;
		gap: rem(12px);

		@include xl {
		}
	}

	&__toggle-mobile {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: rem(32px);
		height: rem(32px);
		padding: 0;
		border: none !important;
		outline: none !important;
		background-color: transparent !important;
		gap: rem(5px);

		span:not(.u-sr-only) {
			display: block;
			width: rem(20px);
			height: rem(2px);
			border-radius: rem(2px);
			background-color: var(--txt-heading);
			transition: all 0.3s;

			.is-light & {
				background-color: var(--c--brand-neutral-1000);
			}

			.is-dark & {
				background-color: var(--txt-heading);
			}

			.is-dark & {
				background-color: var(--txt-heading);
			}

			.is-light & {
				background-color: var(--txt-heading);
			}
		}

		@include xl {
			display: none;
		}
	}

	&__action-group {
		position: relative;
	}

	&__dropdown {
		position: fixed;
		left: 0;
		z-index: 510;
		width: 100vw;
		padding: rem(50px);
		background-color: var(--c--brand-neutral-1000);
		box-shadow: 0 rem(4px) rem(12px) rgba(0, 0, 0, 0.08);
		transition: opacity 0.3s, visibility 0.3s;
		visibility: hidden;
		opacity: 0;

		&.is-active {
			visibility: visible;
			opacity: 1;
		}

		&-content-wrapper {
			display: flex;
			gap: rem(76px);
		}

		&-info {
			flex: 0 0 rem(330px);

			&-title {
				margin: 0 0 rem(16px) 0;
				color: var(--c--brand-neutral-375, #777581);
				font-family: var(--font-family-primary);
				font-size: var(--t--heading-6, 20px);
				font-weight: var(--font-weight-400);
				line-height: calc(28 / 20);
			}

			&-description {
				margin: 0;
				color: var(--c--brand-neutral-375, #777581);
				font-family: var(--font-family-secondary);
				font-size: var(--t--paragraph-2, 14px);
				font-size: var(--t--body-3);
				font-weight: var(--font-weight-400);
				line-height: calc(24 / 14);
			}
		}

		&-list {
			flex: 1;
			list-style: none;

			li a {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: rem(16px);
				border-radius: var(--border-radius-s);
				color: var(--txt-heading);
				font-family: var(--font-family-secondary);
				font-size: rem(15px);
				font-weight: var(--font-weight-400);
				text-decoration: none;
				transition: background-color 0.3s, color 0.3s;

				&:hover,
				&:focus-visible {
					color: var(--c--brand-primary-250-main, #6C44E4);
				}

				&.is-active {
					color: var(--c--brand-primary-250-main, #6C44E4);
				}
			}
		}

		&-check {
			display: inline-flex;
			align-items: center;
			transition: opacity 0.3s;
			opacity: 0;

			svg {
				width: rem(16px);
				height: rem(16px);
			}
		}

		&-arrow {
			display: inline-flex;
			align-items: center;
			transition: opacity 0.3s;
			opacity: 0;

			svg {
				width: rem(16px);
				height: rem(16px);
			}
		}

		&--login {
			.site-top__dropdown-list {
				li a {
					&:hover,
					&:focus-visible,
					&.is-active {
						.site-top__dropdown-arrow {
							opacity: 1;
						}
					}
				}
			}
		}
	}

	&__notification-bar {
		max-height: rem(100px);
		padding: rem(8px) 0;
		background-color: #BABFFA;
		color: #121212;
		transform: translateY(0);
		transition: max-height 0.3s, opacity 0.3s, padding 0.3s, visibility 0.3s, transform 0.3s;
		visibility: visible;
		opacity: 1;

		&.is-hidden {
			max-height: 0;
			padding-top: 0;
			padding-bottom: 0;
			transform: translateY(-100%);
			visibility: hidden;
			opacity: 0;
		}

		&.is-scrolled-down-hidden {
			pointer-events: none;
			max-height: 0 !important;
			padding-top: 0 !important;
			padding-bottom: 0 !important;
			transform: translateY(-100%) !important;
			visibility: hidden !important;
			opacity: 0 !important;
		}

		&-wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-inline: rem(32px);
		}

		&-content {
			display: flex;
			flex-grow: 1;
			align-items: center;
			justify-content: center;
			text-align: center;
			gap: rem(20px);
		}

		&-message {
			font-family: var(--font-family-secondary);
			font-size: var(--t--paragraph-2);
			letter-spacing: 0.0025em;
			line-height: calc(16 / 14);
		}

		&-link {
			color: inherit;
			font-family: var(--font-family-secondary);
			font-size: var(--t--paragraph-2);
			font-weight: var(--font-weight-500);
			line-height: calc(16 / 14);
			text-decoration: underline;
			transition: color 0.3s;

			&:hover,
			&:focus-visible {
				color: var(--c--brand-primary-500);
				text-decoration: none;
			}
		}

		&-close {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			padding: rem(4px);
			border: none;
			background: transparent;
			color: #121212;
			line-height: 1;

			svg {
				width: rem(16px);
				height: rem(16px);
			}

			&:hover,
			&:focus-visible {
				color: var(--c--brand-primary-500);
			}
		}
	}
}

.site-top-nav {
	display: flex;
	align-items: center;
	gap: rem(4px);

	& > .menu-item {
		display: flex;
		align-items: center;
		position: relative;

		& > a:hover,
		& > a:focus-visible {
			background-color: var(--c--ui-gray-50);

			.site-top-nav__chevron {
				color: var(--navigation-txt-txt-navigation);

				.is-scrolled & {
					color: var(--c--brand-neutral-100);
				}
			}
		}

		&.current-menu-item > a,
		&.current-menu-ancestor > a {
			background-color: var(--c--ui-gray-50);

			.text::after {
				transform-origin: left;
				scale: 1 1;
			}

			.site-top-nav__chevron {
				color: var(--navigation-txt-txt-navigation);

				.is-scrolled & {
					color: var(--c--brand-neutral-100);
				}
			}
		}

		.site-top-nav__chevron {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			margin-left: rem(4px);
			color: var(--navigation-txt-txt-navigation);

			.is-scrolled & {
				color: var(--c--brand-neutral-100);
			}

			svg {
				width: rem(16px);
				height: rem(16px);
			}
		}

		& > a {
			display: inline-flex;
			align-items: center;
			padding: rem(8px) rem(12px);
			border-radius: rem(8px);
			color: var(--txt-heading);
			transition: background-color 0.3s;

			.text {
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				color: var(--navigation-txt-txt-navigation);
				font-family: var(--font-family-secondary);
				font-size: var(--t--navigation-3);
				font-weight: var(--font-weight-400);
				line-height: var(--t--line-hight-secondary-6);

				.is-scrolled & {
					color: var(--c--brand-neutral-100);
				}
			}
		}

		&.is-active {
			& > a {
				background-color: var(--navigation-item-fill-hover);

				.text {
					color: var(--c--brand-primary-500);
				}
			}

			.site-top-nav__chevron.site-top-nav__chevron.site-top-nav__chevron {
				color: var(--c--brand-primary-500);
				transform: rotate(180deg);
			}

			.sub-menu-wrap {
				pointer-events: auto;
				visibility: visible;
				opacity: 1;

				.is-scrolled-down & {
					pointer-events: none;
					visibility: hidden;
					opacity: 0;
				}
			}
		}
	}

	.sub-menu-wrap {
		position: fixed;
		top: rem(80px);
		left: 0;
		z-index: 100;
		pointer-events: none;
		width: 100vw;
		padding: rem(52px) 0 rem(60px);
		background-color: var(--c--brand-neutral-1000);
		box-shadow: 0 rem(8px) rem(24px) rgba(49, 30, 4, 0.15);
		transition: opacity 0.3s, visibility 0.3s;
		visibility: hidden;
		opacity: 0;

		&::before {
			content: '';
			position: absolute;
			top: rem(-24px);
			left: 0;
			width: 100%;
			height: rem(24px);
		}

		.sub-menu-container {
			display: flex;
			flex-direction: column;
			width: 100%;
		}

		&__grid-link,
		&__tab-link {
			display: block;
			color: var(--txt-heading);

			&:hover {
				.sub-menu-wrap__tab-link-title,
				.sub-menu-wrap__grid-title {
					&::after {
						transform: scaleX(1);
						transform-origin: left;
					}
				}
			}
		}

		&__grid-title,
		&__tab-link-title {
			display: inline-block;
			position: relative;
			margin-bottom: rem(8px);
			color: var(--navigation-txt-txt-navigation);
			font-family: var(--font-family-primary);
			font-size: rem(15px);
			font-weight: var(--font-weight-500);
			line-height: calc(20 / 15);

			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: var(--navigation-txt-txt-navigation);
				transform: scaleX(0);
				transform-origin: right;
				transition: transform 0.3s;
			}
		}

		&__grid-desc,
		&__tab-link-desc {
			display: block;
			color: var(--c--brand-neutral-375);
			font-size: rem(14px);
			font-weight: var(--font-weight-400);
			line-height: calc(24 / 14);
		}

		&__image-section {
			flex-shrink: 0;
			position: relative;
			width: rem(340px);
			padding: rem(0) rem(22px);

			&::before {
				content: '';
				position: absolute;
				top: -52px;
				right: -40px;
				bottom: -58px;
				left: -24px;
				z-index: -1;
				background-color: var(--c--brand-primary-1000);
			}

			&::after {
				content: '';
				position: absolute;
				top: rem(-26px);
				right: 0;
				bottom: rem(-22px);
				left: 0;
				z-index: -1;
				border-radius: var(--border-radius-xxl);
				background-color: var(--c--brand-neutral-1000);
			}
		}

		&__image {
			width: 100%;
			margin-bottom: rem(32px);
			border-radius: var(--border-radius-s);
			overflow: hidden;

			img {
				width: 100%;
				height: rem(240px);
				object-fit: cover;
			}
		}

		&__image-label {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			height: rem(28px);
			padding: 0 rem(12px);
			border-radius: rem(4px);
			background-color: var(--interface-tags-fill-primary);
			color: var(--interface-tags-txt-primary);
			font-size: var(--t--interface-3);
		}

		&__image-heading {
			margin-top: rem(24px);
			color: var(--txt-heading, #121212);
			font-family: var(--font-family-primary);
			font-size: var(--t--card-title-2);
			font-weight: var(--font-weight-400);
			line-height: calc(28 / 20);
		}

		&__image-subheading {
			margin-top: rem(16px);
			color: var(--txt-paragraph-primary);
			font-size: var(--t--paragraph-3);
			font-weight: var(--font-weight-400);
			line-height: var(--t--line-height-400);
		}

		&__image-link {
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: absolute;
			bottom: 0;
			left: rem(26px);
			transition: opacity 0.3s;

			&:hover {
				opacity: 0.7;
			}

			.text {
				color: var(--button-label-link-idle);
				font-size: var(--t--btn-2);
				font-weight: var(--font-weight-400);
				letter-spacing: 0.2px;
				line-height: var(--t--line-height-300);
			}

			.arrow-icon {
				width: 20px;
				height: 20px;
				margin-left: 8px;

				path {
					stroke: var(--button-label-link-idle);
				}
			}
		}

		&--grid {
			padding-bottom: rem(40px);

			.l-wrapper {
				width: 100%;
				max-width: rem(1384px);
				padding: rem(0) rem(20px);
			}

			.sub-menu-wrap__content {
				display: grid;
				grid-template-columns: 310px 1fr 320px;
				width: 100%;
				gap: rem(24px);
				padding-bottom: rem(40px);
			}

			.sub-menu-wrap__header {
				position: relative;
				min-height: 304px;
				margin-bottom: 0;
				padding: rem(34px);
				padding-bottom: 0;
				border-radius: var(--border-radius-lg);
				background: radial-gradient(26.17% 32.24% at 93.72% -11.68%, #8DDEB7 0%, rgba(141, 222, 183, 0.98) 4.7%, rgba(141, 222, 183, 0.96) 8.9%, rgba(141, 222, 183, 0.93) 12.8%, rgba(141, 222, 183, 0.9) 16.56%, rgba(141, 222, 183, 0.86) 20.37%, rgba(141, 222, 183, 0.82) 24.4%, rgba(141, 222, 183, 0.77) 28.83%, rgba(141, 222, 183, 0.71) 33.84%, rgba(141, 222, 183, 0.65) 39.6%, rgba(141, 222, 183, 0.57) 46.3%, rgba(141, 222, 183, 0.48) 54.1%, rgba(141, 222, 183, 0.38) 63.2%, rgba(141, 222, 183, 0.27) 73.76%, rgba(141, 222, 183, 0.14) 85.97%, rgba(141, 222, 183, 0) 100%), radial-gradient(50.23% 14.79% at 80.61% 4.4%, rgba(108, 68, 228, 0.6) 0%, rgba(108, 68, 228, 0.59) 4.62%, rgba(108, 68, 228, 0.57) 8.76%, rgba(108, 68, 228, 0.56) 12.6%, rgba(108, 68, 228, 0.54) 16.3%, rgba(108, 68, 228, 0.52) 20.05%, rgba(108, 68, 228, 0.49) 24.02%, rgba(108, 68, 228, 0.47) 28.38%, rgba(108, 68, 228, 0.43) 33.31%, rgba(108, 68, 228, 0.39) 38.98%, rgba(108, 68, 228, 0.35) 45.57%, rgba(108, 68, 228, 0.29) 53.26%, rgba(108, 68, 228, 0.24) 62.21%, rgba(108, 68, 228, 0.17) 72.61%, rgba(108, 68, 228, 0.09) 84.63%, rgba(108, 68, 228, 0.01) 98.44%), radial-gradient(27.84% 28.09% at 84.8% 7.86%, rgba(186, 191, 250, 0.88) 0%, rgba(186, 191, 250, 0.86) 4.7%, rgba(186, 191, 250, 0.84) 8.9%, rgba(186, 191, 250, 0.82) 12.8%, rgba(186, 191, 250, 0.79) 16.56%, rgba(186, 191, 250, 0.76) 20.37%, rgba(186, 191, 250, 0.72) 24.4%, rgba(186, 191, 250, 0.68) 28.83%, rgba(186, 191, 250, 0.63) 33.84%, rgba(186, 191, 250, 0.57) 39.6%, rgba(186, 191, 250, 0.5) 46.3%, rgba(186, 191, 250, 0.42) 54.1%, rgba(186, 191, 250, 0.34) 63.2%, rgba(186, 191, 250, 0.24) 73.76%, rgba(186, 191, 250, 0.13) 85.97%, rgba(186, 191, 250, 0) 100%), radial-gradient(65.87% 31.32% at 81.83% 9.3%, rgba(131, 115, 199, 0.33) 0%, rgba(131, 115, 199, 0) 100%), radial-gradient(145.9% 69.45% at 81.83% 9.3%, rgba(182, 178, 199, 0.32) 0%, rgba(182, 178, 199, 0) 100%), var(--c--brand-primary-1000, #F6F5FA);
				box-shadow: 0 102px 29px 0 rgba(55, 35, 103, 0), 0 65px 26px 0 rgba(55, 35, 103, 0.01), 0 37px 22px 0 rgba(55, 35, 103, 0.03), 0 16px 16px 0 rgba(55, 35, 103, 0.01), 0 4px 9px 0 rgba(55, 35, 103, 0.06);
			}

			.sub-menu-wrap__title {
				color: var(--c--brand-neutral-100, #121212);
				font-family: var(--font-family-primary);
				font-size: var(--t--heading-6, 20px);
				font-weight: var(--font-weight-400);
				line-height: calc(28 / 20);
			}

			.sub-menu-wrap__text {
				margin-top: rem(16px);
				color: var(--c--brand-neutral-300);
				font-size: var(--t--paragraph-2, 14px);
				line-height: calc(24 / 14);
			}

			.sub-menu-wrap__link {
				display: inline-flex;
				align-items: center;
				justify-content: space-between;
				position: absolute;
				bottom: rem(16px);
				left: rem(16px);
				width: rem(278px);
				min-height: rem(52px);
				padding: rem(10px) rem(8px) rem(9px) rem(16px);
				border-radius: var(--border-radius-s);
				background: var(--navigation-item-fill-hover, rgba(62, 36, 92, 0.04));
				color: var(--button-label-link-idle);
				font-size: var(--t--button-3);
				font-weight: var(--font-weight-400);
				text-decoration: none;
				transition: background-color 0.3s;

				&:hover {
					.arrow-icon {
						background-color: var(--button-bg-primary-hover);
					}
				}

				.arrow-icon {
					display: flex;
					align-items: center;
					justify-content: center;
					width: rem(36px);
					height: rem(36px);
					border-radius: var(--border-radius-s);
					background-color: var(--button-bg-primary-idle);
					transition: background-color 0.3s;

					svg {
						width: rem(20px);
						height: rem(20px);
					}
				}
			}

			.sub-menu-wrap__grid {
				display: flex;
				flex: 1;
				width: 84%;
				margin: 0 auto;
				gap: rem(90px);
			}

			.sub-menu-wrap__grid-column {
				display: flex;
				flex: 1;
				flex-direction: column;
				gap: rem(40px);
			}
		}

		&--tabs {
			.sub-menu-wrap__tabs {
				display: grid;
				grid-template-columns: minmax(rem(280px), 25%) auto;
				width: 100%;
				gap: rem(40px);
			}

			.sub-menu-wrap__tabs-nav {
				display: flex;
				flex-direction: column;
				min-width: rem(280px);
				padding: rem(16px);
				border-radius: var(--border-radius-s);
				background-color: rgba(62, 36, 92, 0.04);
				gap: rem(8px);
			}

			.sub-menu-wrap__tab-btn {
				display: block;
				display: flex;
				align-items: center;
				justify-content: space-between;
				cursor: pointer;
				width: 100%;
				padding: rem(16px) rem(24px);
				border: none;
				border-radius: var(--border-radius-s);
				background: transparent;
				color: var(--txt-heading);
				font-family: var(--font-family-primary);
				font-size: rem(16px);
				font-weight: var(--font-weight-400);
				line-height: 1.25;
				text-align: left;
				transition: background-color 0.3s, color 0.3s, font-weight 0.3s;

				.sub-menu-wrap__tab-chevron {
					display: inline-flex;
					align-items: center;
					justify-content: center;
					position: relative;
					z-index: 1;
					transition: color 0.3s;

					&::before {
						content: '';
						position: absolute;
						top: -10px;
						right: -10px;
						bottom: -10px;
						left: -10px;
						z-index: -1;
						border-radius: var(--border-radius-s);
						background-color: var(--button-bg-primary-idle);
					}

					svg path {
						stroke: var(--c--brand-neutral-1000);
					}
				}

				&:hover {
					background-color: var(--c--ui-gray-50);
					color: var(--c--brand-primary-700);
				}

				&.is-active {
					background-color: rgba(226, 217, 255, 0.4);
					color: var(--c--brand-primary-250-main);
					font-weight: var(--font-weight-500);
				}
			}

			.sub-menu-wrap__tabs-content {
				flex: 1;
				padding-block: rem(16px);
			}

			.sub-menu-wrap__tab-panel {
				display: none;
				width: 100%;

				&.is-active {
					display: grid;
					grid-template-columns: auto rem(300px);
					gap: rem(40px);
				}
			}

			.sub-menu-wrap__tab-links {
				display: flex;
				gap: rem(40px);
			}

			.sub-menu-wrap__tab-links-column {
				display: flex;
				flex: 1;
				flex-direction: column;
				gap: rem(24px);
			}

			.sub-menu-wrap__image-heading {
				font-size: var(--t--card-title-3);
			}
		}

		&__grey-bar {
			display: flex;
			position: relative;
			width: 100%;
			margin-top: 0;
			padding: rem(64px) rem(76px) rem(0);

			&::before {
				content: '';
				position: absolute;
				top: 18px;
				right: -60px;
				bottom: 0;
				left: -60px;
				height: 1px;
				background-color: rgba(18, 18, 18, 0.1);
			}

			svg {
				position: absolute;
				top: 56px;
				left: 12px;
			}
		}

		&__grey-bar-text {
			color: #121212;
			font-size: 18px;
		}

		&__grey-bar-link {
			padding-left: rem(20px);
			color: var(--button-label-link-idle, #6C44E4);
			font-size: var(--t--btn-1, 18px);
			transition: color 0.3s;

			&:hover {
				color: var(--button-label-link-hover, #5236B8);
			}
		}
	}
}
