@use 'config' as *;

.heading-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 1;
	width: 100%;
	max-width: 838px;
	margin: 0 auto;
	text-align: center;

	&--left {
		align-items: flex-start;
		max-width: initial;
		margin-top: rem(114px);
		margin-left: rem(12px);
		text-align: left;

		* {
			max-width: rem(640px);
		}

		.heading-box__caption {
			color: var(--txt-caption-alt);
		}

		.heading-box__heading {
			font-size: var(--t--heading-2, 52px);
			font-weight: 400;
			letter-spacing: -0.26px;
			line-height: var(--t--line-height-1600, 64px);
		}

		.heading-box__subheading {
			max-width: 460px;
		}
	}

	&--large {
		.heading-box__heading {
			font-size: var(--t--heading-2);
		}
	}

	&--small {
		.heading-box__heading {
			font-size: var(--t--heading-4);
		}

		.heading-box__subheading {
			margin-top: var(--spacing-500);
		}
	}

	&__caption {
		color: var(--txt-caption);
		font-size: var(--t--caption-1);
		letter-spacing: 0.32px;
		line-height: var(--t--line-height-300);
	}

	&__heading {
		margin-top: var(--spacing-400);
		color: var(--txt-heading);
		font-size: var(--t--heading-3);
		letter-spacing: -0.225px;
		line-height: var(--t--line-height-1200);
	}

	&__subheading {
		max-width: 622px;
		margin-top: var(--spacing-600);
		color: var(--txt-subheading);
		font-size: var(--t--subheading-2);
		line-height: var(--t--line-height-500);
	}

	&__subheading-list {
		margin-top: rem(34px);
	}

	&__subheading-list-item {
		display: flex;
		align-items: center;
		padding: rem(4px) rem(0);
		color: var(--txt-paragraph-secondary, #FFF);
		font-size: var(--font-value-15, 15px);
		font-style: normal;
		font-weight: var(--t--line-height-400, 400);
		letter-spacing: 0.3px;
		line-height: var(--t--line-height-400, 24px);

		svg {
			margin-right: rem(8px);
		}
	}
}
