@use 'config' as *;

.l-section--hero-post {
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 1;
	margin-bottom: 0 !important;
	padding-top: rem(78px);
	overflow: hidden;

	@include md {
		min-height: min(90vh, rem(680px));
	}

	@include lg {
		padding-top: rem(102px);
	}
}

.hero-post {
	display: flex;
	flex: 1 1 0%;
	flex-direction: column;

	&__watermark {
		right: 0;
		left: inherit;
	}

	&__content-hld {
		display: flex;
		flex: 1 1 0%;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		padding-block: rem(44px) fluid(44px, 96px);
		gap: rem(48px) 0;
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: rem(24px);

		@include md {
			max-width: 49.166666666666664%;
		}
	}

	&__desc {
		display: flex;
		flex-wrap: wrap;
		gap: rem(32px);

		&__item {
			display: flex;
			flex-direction: column;
			gap: rem(2px);

			&__label {
				color: var(--input-field-txt-hint);
			}
		}
	}

	picture {
		display: block;
		position: relative;
		overflow: hidden;

		@include md {
			width: 42.5%;
		}

		&::after {
			content: '';
			position: absolute;
			border-radius: var(--border-radius-xs);
			background: linear-gradient(to left, rgba(49, 30, 4, 0.15), rgba(49, 30, 4, 0.15));
			inset: 0;
		}
	}

	&__img {
		width: 100%;
		height: auto;
		object-fit: cover;
		aspect-ratio: inherit;
		border-radius: var(--border-radius-xs);
	}
}
