@use 'config' as *;

.l-section--hero-left {
	position: relative;
	margin-top: 0;
	overflow: hidden;
}

.hero-left {
	&__breadcrumbs {
		margin-bottom: fluid(32px, 40px);

		ol {
			display: flex;
			flex-wrap: wrap;
			margin: 0;
			padding: 0;
			list-style: none;
			gap: rem(12px);
		}
	}

	&__breadcrumb {
		display: flex;
		align-items: center;
		color: var(--wf-neutral-neutral-40);
		font-size: var(--t--caption-2);

		a {
			color: inherit;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		&-separator {
			margin: 0 rem(6px);
		}

		&--current {
			color: var(--wf-neutral-neutral-20);
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: fluid(48px, 64px);

		@include lg {
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
		}
	}

	&__text-hld {
		width: 100%;

		@include lg {
			width: 48%;
			max-width: rem(760px);
		}
	}

	&__caption {
		margin-bottom: rem(12px);
		color: var(--wf-neutral-neutral-40);
		font-size: var(--t--caption-1);
		font-weight: 400;
		letter-spacing: 0.07em;
		text-transform: uppercase;
	}

	&__heading {
		margin: 0;
		color: var(--wf-neutral-neutral-20);
		font-size: fluid(36px, 46px);
		font-weight: 700;
		letter-spacing: 0.01em;
		line-height: calc(55 / 46);
	}

	&__subheading {
		margin-top: fluid(16px, 24px);
		color: var(--wf-neutral-neutral-40);
		font-size: fluid(16px, 18px);
		font-weight: 600;
		line-height: calc(28 / 18);
	}

	&__points {
		margin-top: fluid(24px, 24px);
		padding: 0;
		list-style: none;
	}

	&__point {
		display: flex;
		align-items: center;
		gap: rem(16px);
		margin-bottom: rem(12px);

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__point-icon {
		display: flex;
		flex-shrink: 0;
		align-items: center;
		justify-content: center;
		width: rem(24px);
		height: rem(24px);

		svg {
			width: 100%;
			height: 100%;
			color: var(--c-semanctic-success-60);
		}
	}

	&__point-text {
		color: var(--wf-neutral-neutral-40);
		font-size: fluid(16px, 18px);
		font-weight: 600;
		line-height: calc(28 / 18);
	}

	&__btns {
		display: flex;
		margin-top: fluid(40px, 40px);
		gap: rem(24px);

		@include tablet-big {
			flex-direction: column;
			width: 100%;
		}
	}

	&__media-hld {
		width: 100%;

		@include lg {
			width: 48%;
		}
	}

	&__image,
	&__video {
		display: block;
		width: 100%;
		max-height: 504px;
		border-radius: var(--border-radius-xs);
		overflow: hidden;
		aspect-ratio: 1400 / 760;
		object-fit: cover;

		&.hero-left__video {
			.video__player {
				width: 100%;
				height: 100%;
			}

			.video__player__container,
			.video__player__file {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	&__partners {
		margin-top: fluid(60px, 70px);
	}

	&__partners-divider {
		width: 100%;
		height: 1px;
		margin-bottom: rem(30px);
		background-color: var(--wf-neutral-neutral-80);
	}

	&__partners-logos {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: fluid(24px, 32px);
	}

	&__partner {
		display: flex;
		align-items: center;
		justify-content: center;
		transition: opacity 0.3s ease;
		opacity: 0.8;

		&:hover {
			opacity: 1;
		}
	}

	&__partner-logo {
		width: auto;
		max-width: rem(120px);
		height: auto;
		max-height: rem(60px);
	}
}
