@use 'config' as *;

.recent-posts {
	&__top {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: rem(16);

		@include md {
			flex-direction: row;
			align-items: flex-end;
			justify-content: space-between;
		}
	}

	&__top-text {
		max-width: rem(660);
	}

	&__content {
		margin-top: rem(16);
	}

	&__items {
		margin-top: fluid(48px, 64px);

		&.is-items-2 {
			@include lg {
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}
}
