@use 'config' as *;

.l-section--hero {
	margin-top: 0;
	padding-block: fluid(80px, 80px);
}

.hero {
	&__text-hld {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		max-width: rem(1056);
		margin: 0 auto;
	}

	&__heading {
		color: var(--wf-neutral-neutral-0-black);
		font-size: fluid(36px, 48px);
		font-weight: 700;
		line-height: calc(56 / 48);
		text-align: center;
	}

	&__subheading {
		margin-top: fluid(24px, 24px);
		color: var(--wf-neutral-neutral-40);
		font-size: fluid(16px, 18px);
		font-weight: 600;
		line-height: calc(28 / 18);
		text-align: center;
	}

	&__btns {
		display: flex;
		justify-content: center;
		margin-top: fluid(48px, 48px);
		gap: rem(24px);

		@include tablet-big {
			flex-direction: column;
			width: 100%;
		}
	}

	&__image-hld {
		margin-top: fluid(60px, 60px);

		img {
			width: 100%;
			height: auto;
			max-height: 504px;
			object-fit: cover;
		}
	}
}
