@use 'config' as *;

.l-section--hero {
	margin-top: 0;
}

.hero {
	height: calc(100vh - rem(82.2px));
	height: calc(100dvh - rem(82.2px));
	padding-block: fluid(32px, 48px);

	&__image {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
		width: 100%;
		height: 100%;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: var(--c-black);
			opacity: 0.1;
		}

		img {
			height: 100%;
		}
	}

	&__inner {
		display: flex;
		align-items: flex-end;
		position: relative;
		z-index: 1;
		height: 100%;
	}

	&__text-hld {
		display: flex;
		flex-direction: column;
		max-width: rem(680);
	}

	&__subheading {
		margin-top: fluid(24px, 32px);
	}

	&__content,
	&__btns {
		margin-top: fluid(16px, 24px);
	}
}
