@use '../../../src/sass/01_base/mixins' as *;
@use '../../../src/sass/01_base/functions' as *;
@use 'config' as *;

.l-section--single-media {
	position: relative;
	padding: 144px 0;

	@include desktop-small {
		padding: 80px 0;
	}

	@include tablet-big {
		padding: 64px 0;
	}

	@include mobile {
		padding: 64px 0;
	}

	&.color-mode-is-dark {
		background-color: var(--bg-secondary);
	}

	&.color-mode-is-light {
		background-color: var(--elevation-surface-sunken-primary-default);
	}
}

.single-media {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-1100);

	@include mobile {
		gap: var(--spacing-800);
	}

	&__media-hld {
		position: relative;
		width: 100%;
		max-width: 1272px;
		margin: 0 auto;
	}

	&__img,
	&__video {
		width: 100%;
		height: auto;
		border-radius: 16px;
		background-color: var(--elevation-surface-sunken-secondary-default);
		object-fit: cover;

		@include mobile {
			border-radius: 12px;
		}

		.video__player {
			width: 100%;
			height: 100%;
			border-radius: 16px;
			background-color: var(--elevation-surface-sunken-secondary-default);
			overflow: hidden;

			@include mobile {
				border-radius: 12px;
			}

			&__container {
				position: relative;
				width: 100%;
				height: 100%;
				border-radius: 16px;
				overflow: hidden;

				@include mobile {
					border-radius: 12px;
				}
			}

			&__file {
				width: 100%;
				height: 100%;
				border-radius: 16px;
				object-fit: cover;

				@include mobile {
					border-radius: 12px;
				}
			}

			&__cover {
				&__img {
					border-radius: 16px;

					@include mobile {
						border-radius: 12px;
					}
				}
			}

			&__placeholder {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				border-radius: 16px;
				background-color: var(--elevation-surface-sunken-secondary-default);
				color: var(--txt-paragraph-primary);
				font-size: 16px;

				@include mobile {
					border-radius: 12px;
				}

				p {
					margin: 0;
				}
			}
		}
	}

	&__media-caption {
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 1;
		padding: 10px;
		border-radius: 8px;
		background-color: var(--elevation-surface-raised-default);
		color: var(--txt-ui-body);
		font-size: 14px;
		line-height: calc(20 / 14);
		text-align: center;
	}
}
