@use 'config' as *;

.u-section--post-listing {

}

.post-listing {

	&__header-hld {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		position: relative;
		z-index: 10;
		margin-bottom: fluid(32px, 44px);
		gap: rem(24px);
	}

	&__heading {
		width: 100%;

		@include media-min(650) {
			width: auto;
		}
	}

	&__top-filters-hld {
		display: flex;
		flex: 1 1 0%;
		flex-wrap: wrap;
		align-items: center;
		width: 100%;
		gap: rem(12px);

		@include md {
			max-width: calc(50% - rem(16px));
		}
	}

	&__search {
		display: flex;
		flex: 1 1 0%;
		align-items: center;
		position: relative;
		min-width: min(100%, rem(332px));

		@include media-min(420) {
			min-width: inherit;
		}

		&__input {
			width: 100%;
			padding-right: rem(42px) !important;
		}

		&__btn {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 0;
			right: 0;
			width: rem(42px);
			height: rem(42px);
			border: none;
			outline: none;
			background-color: transparent;

			* {
				pointer-events: none;
			}

			&__icon {
				width: rem(22px);
				height: rem(22px);
				color: var(--input-field-txt-hint);
			}
		}
	}

	&__cta {
		margin-block: fluid(52px, 104px);
	}

	// Filters
	&__filters-hld {

	}

	&__filters-grid {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: rem(32px);

		@include media-min(420) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&__filters-label {
		display: block;
		margin-bottom: rem(12px);
	}

	&__filters-mobile-btn {
		width: fit-content;

		svg {
			transition: rotate 0.3s ease-in-out;
		}

		@include lg {
			display: none !important;
		}
	}

	&__filters {
		@include media-max(1023) {
			display: grid;
			grid-template-rows: 0;
			padding-block: 0;
			border-width: 0;
			transition: all 0.3s ease-in-out;
		}

		> div {
			overflow: hidden;
		}

		> div > div {
			display: flex;
			flex-wrap: wrap;
			transition: gap 0.3s ease-in-out;
			overflow: hidden;
			gap: rem(8px);
		}

		&__item {
			padding: rem(8px) rem(16px);
			border: 1px solid var(--interface-tags-bg-hover);
			border-radius: var(--border-radius-xxs);
			background-color: transparent;
			color: var(--interface-tags-txt);
			transition: background-color 0.3s ease-in-out;

			> span {
				position: relative;
				pointer-events: none;
			}

			&:hover,
			&:focus-visible {
				background-color: var(--interface-tags-bg-hover);
			}

			&.is-active {
				background-color: var(--interface-tags-bg-hover);
			}
		}

		&__label-more {
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			gap: 8px;
			width: fit-content;
			margin-top: fluid(24px, 32px);
			margin-inline: auto;
			text-align: center;
			transition: margin-top 0.3s ease-in-out;

			@include media-max(1023) {
				display: none;
			}

			&::after {
				content: '';
				display: block;
				position: absolute;
				right: 0;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: var(--c-brand-primary-800);
				transition: opacity 0.3s ease-in-out, scale 0.3s ease-in-out;
				margin-inline: auto;
			}

			&--checked {
				display: none;
			}

			svg {
				transition: rotate 0.3s ease-in-out;
			}
		}
	}
}

#show-categories:checked ~,
#show-tags:checked ~ {
	.post-listing__filters {
		grid-template-rows: 1fr;
		margin-top: rem(12px);
		border-width: 1px;
		padding-block: rem(16px);
	}

	.post-listing__filters-mobile-btn {
		svg {
			rotate: 180deg;
		}
	}
}

#order-select-dropdown:checked ~ {
	.select__dropdown {
		pointer-events: auto;
		opacity: 1;
		translate: 0 rem(12px);
	}

	.select__label__icon {
		rotate: 180deg;
	}
}
