@use 'config' as *;

.l-section--shortlist {
	padding: var(--padding-vertical-4xl) 0;
	background-color: var(--background-bg-primary--c-brand-primary-forest);
}

.shortlist {

	&__header {
		display: flex;
		justify-content: space-between;
	}

	&__heading {
		color: var(--txt-heading);
		font-size: var(--t--heading-3);
		font-weight: 400;
		line-height: var(--t--line-height-1200);
	}

	&__items {
		margin-top: var(--spacing-1050);
	}
}
