@use 'config' as *;

.l-section--shortlist {
	padding: var(--padding-vertical-4xl) 0;
	background-color: var(--background-bg-primary--c-brand-primary-forest);
	overflow: hidden;
}

.shortlist {

	&__header {
		display: flex;
		justify-content: space-between;
	}

	&__heading {
		color: var(--txt-heading);
		font-size: var(--t--heading-3);
		font-weight: 400;
		line-height: var(--t--line-height-1200);
	}

	&__slider {
		margin-top: var(--spacing-1050);

		&--hide-desktop-nav {
			.slider__navigation {
				display: none;

				@include mobile {
					display: flex;
				}
			}
		}
	}
}
