@use 'config' as *;

.u-filter-body {
	position: relative;

	&.is-loading {
		.u-filter-body-to-load {
			pointer-events: none;
		}

		.u-filter-loader {
			pointer-events: auto;
			opacity: 1;
		}
	}
}

.u-filter-body-to-load {
	min-height: 300px;
	// transition: opacity 0.3s;
}

.u-filter-loader {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999999;
	pointer-events: none;
	width: 100vw;
	height: 100vh;
	background-color: var(--bg-primary-80);
	transition: opacity 0.3s;
	opacity: 0;

	&__icon {
		color: var(--txt-heading);
	}
}

.u-filter-item {
	.text {
		pointer-events: none; // IMPORTANT FOR JS FILTERS TO WORK
	}
}
