@use 'config' as *;

.t-btn {
	font-family: var(--font-family-secondary);
	font-weight: var(--font-weight-700);
	letter-spacing: -0.01em;

	&--1 {
		font-size: var(--t--btn-1);
		line-height: var(--t--line-hight-secondary-4);
	}

	&--2 {
		font-size: var(--t--btn-2);
		line-height: var(--t--line-hight-secondary-4);
	}

	&--3 {
		font-size: var(--t--btn-3);
		line-height: var(--t--line-hight-secondary-5);
	}

	&--4 {
		font-size: var(--t--btn-4);
		line-height: var(--t--line-hight-secondary-6);
	}

	&--5 {
		font-size: var(--t--btn-4);
		font-weight: var(--font-weight-400);
		line-height: var(--t--line-hight-secondary-6);
	}

	&--6 {
		font-size: var(--t--btn-5);
		line-height: var(--t--line-hight-secondary-7);
	}
}

.t-navigation {
	display: block;
	color: var(--txt-heading);

	&--1 {
		font-size: var(--t--navigation-1);
		font-weight: var(--font-weight-500);
		letter-spacing: -0.02em;
		line-height: var(--t--line-hight-primary-7);
	}

	&--2 {
		font-family: var(--font-family-secondary);
		font-size: var(--t--navigation-2);
		font-weight: var(--font-weight-400);
		line-height: var(--t--line-hight-secondary-6);
	}
}
