@use 'mixins' as *;

/* Figma Styles of your File */
:root {
	/* Colors */
	--c-semanctic-success-10: #081708;
	--c-semanctic-success-20: #082b08;
	--c-semanctic-success-40: #135e13;
	--c-semanctic-success-60: #00cc00;
	--c-semanctic-success-80: #80ff80;
	--c-semanctic-success-100: #ccffcc;
	--c-semanctic-info-10: #081217;
	--c-semanctic-info-20: #001b29;
	--c-semanctic-info-40: #005f8f;
	--c-semanctic-info-60: #00aaff;
	--c-semanctic-info-80: #99ddff;
	--c-semanctic-info-100: #cceeff;
	--c-semanctic-warning-10: #171108;
	--c-semanctic-warning-20: #291a00;
	--c-semanctic-warning-40: #8f5a00;
	--c-semanctic-warning-60: #ffa100;
	--c-semanctic-warning-80: #ffda99;
	--c-semanctic-warning-100: #ffeccc;
	--c-semanctic-error-10: #170808;
	--c-semanctic-error-20: #2b0808;
	--c-semanctic-error-40: #5e1313;
	--c-semanctic-error-60: #cc0000;
	--c-semanctic-error-80: #ff8080;
	--c-semanctic-error-100: #ffcccc;
	--wf-neutral-neutral-0-black: #000000;
	--wf-neutral-neutral-10: #1a1a1a;
	--wf-neutral-neutral-20: #333333;
	--wf-neutral-neutral-40: #666666;
	--wf-neutral-neutral-60: #999999;
	--wf-neutral-neutral-80: #cccccc;
	--wf-neutral-neutral-90: #ebebeb;
	--wf-neutral-neutral-95: #f4f4f4;
	--wf-neutral-neutral-100-white: #ffffff;

	/* Typography */
	--t--caption-1: 15px;
	--t--caption-2: 14px;
	--t--caption-3: 13px;
	--t--btn-1: 16px;
	--t--btn-2: 15px;
	--t--btn-3: 14px;

	/* Spacing */
	--padding-vertical-4xl: 120px;
	--padding-vertical-3xl: 96px;
	--padding-vertical-2xl: 88px;
	--padding-vertical-xl: 80px;
	--padding-vertical-lg: 64px;
	--padding-vertical-md: 48px;
	--padding-vertical-s: 40px;
	--padding-vertical-xs: 32px;
	--padding-vertical-2xs: 16px;
	--padding-vertical-3xs: 8px;
}
