@use 'config' as *;

.site-top-mobile {
	display: none;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 500;
	width: 100%;
	padding: rem(10px) rem(20px);
	border-bottom: 1px solid var(--c--brand-primary-750);
	background-color: var(--c--brand-neutral-1000);

	@include tablet-small {
		display: flex;
	}

	&__logo {
		width: rem(180px);
	}
}

.site-top-mobile__toggle-mobile {
	margin-right: rem(-10px);
	padding: rem(10px);
	border: 0;
	outline: 0;
	background-color: transparent;

	.is-mobile-open & {
		span:not(.u-sr-only):nth-child(2) {
			display: none;
		}

		span:not(.u-sr-only):first-child {
			transform: translateY(3px) rotate(45deg);
		}

		span:not(.u-sr-only):nth-child(3) {
			transform: translateY(-4px) rotate(135deg);
		}
	}

	span:not(.u-sr-only) {
		display: block;
		width: rem(30px);
		height: rem(2px);
		background-color: var(--c--brand-neutral-0);
		transition: transform 0.3s ease-in-out;

		&:not(:first-child) {
			margin-top: rem(5px);
		}
	}
}
