@use 'config' as *;

.caption {
	display: inline-block;
	width: fit-content;
	padding: rem(4px) rem(12px);
	border-radius: var(--border-radius-xxs);
	background: var(--caption-bg-idle);
}

.heading {
	&__caption {
		margin-bottom: rem(16px);
	}
}
