@use 'config' as *;

.post-items {
	&__grid {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: rem(40) rem(32);
		margin-top: fluid(32px, 44px);

		@include media-min(550) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include lg {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}
