@use 'config' as *;

// POST ITEM
.post-item {
	display: flex;
	position: relative;

	&:hover,
	&:focus-visible {
		.post-item__title {
			color: var(--txt-text-hover);
			text-decoration: underline;
		}
	}

	&__link {
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		gap: rem(20px);
	}

	picture {
		display: block;
		flex: none;
		width: 100%;
		height: auto;
	}

	&__img {
		width: 100% !important;
		border-radius: var(--border-radius-xs);
		object-fit: cover;
		aspect-ratio: 379 / 220;

		&--placeholder {
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: var(--border-radius-xs);
			background-color: var(--card-feature-bg-primary);

			svg {
				max-width: 60%;
				height: auto;
				color: var(--txt-heading);
			}
		}
	}

	&__meta {
		display: flex;
		align-items: center;
		gap: rem(12px);
	}

	&__content {
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		position: relative;
		gap: rem(14px);
	}

	&__title {
		flex-grow: 1;
		max-height: rem(96px);
	}

	&__title,
	&__description {
		display: -webkit-box;
		transition: color 0.3s ease-in-out,
			text-decoration 0.3s ease-in-out;
		overflow: hidden;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
	}

	&__date {
		// margin-top: auto;
		padding-top: rem(2px);
	}

	&--large {
		border-radius: var(--border-radius-xs);
		background-color: var(--bg-primary);
		overflow: hidden;

		.category-tag.is-light {
			background-color: var(--c--brand-primary-1200-main);
		}

		.post-item__img--placeholder {
			align-items: flex-start;
			justify-content: flex-start;
			padding: 3% 0;

			svg {
				width: 60%;
			}
		}

		picture,
		.post-item__img--placeholder {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			height: 100%;

			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border-radius: var(--border-radius-xs);
				background: linear-gradient(180deg, rgba(0, 21, 18, 0) 0%, rgba(0, 21, 18, 0.6) 100%);
			}
		}

		.post-item {
			&__link {
				height: 100%;
			}

			&__title {
				flex-grow: initial;
				max-height: inherit;
			}

			&__img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			&__content {
				justify-content: flex-end;
				z-index: 2;
				width: 100%;
				min-height: rem(258px);
				aspect-ratio: 690 / 408;
				padding: fluid(24px, 30px);

				@include md {
					height: 100%;
					aspect-ratio: inherit;
				}
			}
		}
	}

	&--small {
		display: flex;

		.post-item {
			&__link {
				flex-direction: row;
				gap: fluid(16px, 24px);

				picture,
				.post-item__img--placeholder {
					aspect-ratio: 1/1;
					width: rem(116px);
					height: 100%;

					@include media-min(400) {
						width: rem(165px);
						aspect-ratio: 165/120;
					}

					@include md {
						aspect-ratio: 1/1;
						width: rem(116px);
					}

					@include media-min(1100) {
						width: rem(165px);
						aspect-ratio: 165/120;
					}

					@include media-min(2800) {
						width: rem(330px);
					}
				}

				.post-item__img {
					height: 100% !important;
				}
			}

			&__content {
				flex-grow: 1;
				justify-content: center;
				gap: rem(12px);
			}

			&__title {
				-webkit-line-clamp: 2;
			}

			&__date {
				margin-top: rem(0);
			}
		}
	}
}
