@use 'config' as *;

.video {
	&__player {
		z-index: 10;
		background-color: transparent;

		&__container {
			position: relative;
			max-height: rem(563px);
			margin-bottom: -1px;
			border-radius: var(--border-radius-xs);
			aspect-ratio: 16 / 9;
			margin-inline: auto;
		}

		&.is-paused {

			.video__player__cover {
				pointer-events: auto;
				opacity: 1;

				&::before {
					content: '';
					display: block;
					position: absolute;
					z-index: 9;
					width: 100%;
					height: 100%;
					transition: opacity 0.5s ease;
					opacity: 0;

					.l-section.color-mode-variant-primary & {
						background: linear-gradient(180deg, rgba(18, 18, 18, 0) 75.11%, #121212 100%), linear-gradient(163deg, rgba(18, 18, 18, 0) 33.89%, rgba(18, 18, 18, 0.8) 78.53%);
					}

					.l-section.color-mode-variant-secondary & {
						background: linear-gradient(0deg, rgba(33, 31, 35, 0.6) 0%, rgba(33, 31, 35, 0.6) 100%), linear-gradient(180deg, rgba(33, 31, 35, 0) 75.11%, #211F23 100%), linear-gradient(163deg, rgba(18, 18, 18, 0) 33.89%, rgba(18, 18, 18, 0.8) 78.53%);
					}
				}

				&:hover {
					&::before {
						opacity: 1;
					}
				}
			}
		}

		&__file {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 10;
			width: 100%;
			height: 100%;
			transition: opacity 0.8s ease-in-out;
			opacity: 0;
			scale: 0;

			&.is-active {
				z-index: 8;
				opacity: 1;
				scale: 1;
			}
		}

		&__cover {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 10;
			pointer-events: none;
			cursor: pointer;
			width: 100%;
			height: 100%;
			text-align: center;
			transition: opacity 0.3s ease-in-out;
			opacity: 0;

			&:hover {
				.video__player-btn {
					&-icon {
						&__circle {
							fill: #fff;
						}

						&__arrow {
							fill: #6C44E4;
						}
					}
				}
			}

			picture {
				pointer-events: none;
			}

			&__img {
				z-index: 8;
				pointer-events: none;
				width: 100%;
				height: 100%;
				border-radius: var(--border-radius-xs);
				overflow: hidden;
				object-fit: cover;
			}
		}

		iframe,
		video {
			border-radius: var(--border-radius-xs);
		}
	}

	&__player-btn {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 11;
		pointer-events: none;
		padding: 0;
		border: none;
		border-radius: 99px;
		background-color: transparent;
		box-shadow: 0 20px 24px 0 rgba(0, 0, 0, 0.17);
		transform: translate(-50%, -50%);
		transition: scale 0.3s ease-in-out, opacity 0.3s ease-in-out;

		&-icon {
			width: 96px;
			height: 96px;

			* {
				transition: fill 0.3s ease;
			}
		}
	}

	&__btn {
		display: inline-flex !important;
		margin-top: fluid(24px, 48px);
	}
}
