@use 'config' as *;

.l-section--before-after-comparison {
	position: relative;
	overflow: hidden;

	&.is-light {
		background-color: var(--wf-neutral-neutral-95);
	}

	&.is-dark {
		background-color: var(--wf-neutral-neutral-10);
		color: var(--wf-neutral-neutral-100-white);
	}

	&.is-white {
		background-color: var(--wf-neutral-neutral-100-white);
	}
}

.before-after-comparison {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: fluid(32px, 40px);

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: rem(768px);
		margin: 0 auto;
		text-align: center;
	}

	&__caption {
		margin-bottom: rem(12px);
		color: var(--c-semanctic-info-60);
		font-size: fluid(14px, 16px);
		font-weight: 600;
		letter-spacing: 0.07em;
		line-height: calc(24 / 16);
		text-transform: uppercase;
	}

	&__heading {
		color: var(--wf-neutral-neutral-0-black);
		font-size: fluid(36px, 48px);
		font-weight: 600;
		line-height: calc(58 / 48);

		.is-dark & {
			color: var(--wf-neutral-neutral-100-white);
		}
	}

	&__body {
		margin-top: rem(16px);
		color: var(--wf-neutral-neutral-40);
		font-size: fluid(16px, 18px);
		line-height: calc(27 / 18);

		.is-dark & {
			color: var(--wf-neutral-neutral-80);
		}
	}

	&__controls {
		display: flex;
		justify-content: center;
		margin-top: rem(8px);
	}

	&__btn-group {
		display: flex;
		border-radius: 6px;
		overflow: hidden;
	}

	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		padding: rem(16px) rem(28px);
		border: 2px solid var(--wf-neutral-neutral-0-black);
		font-size: rem(16px);
		font-weight: 500;
		line-height: calc(19 / 16);
		transition: background-color 0.3s, color 0.3s;

		&--before {
			border-right: 0;
			border-radius: 6px 0 0 6px;

			&.is-active {
				background-color: var(--wf-neutral-neutral-0-black);
				color: var(--wf-neutral-neutral-100-white);
			}

			&:not(.is-active) {
				background-color: transparent;
				color: var(--wf-neutral-neutral-0-black);
			}
		}

		&--after {
			border-radius: 0 6px 6px 0;

			&.is-active {
				background-color: var(--wf-neutral-neutral-0-black);
				color: var(--wf-neutral-neutral-100-white);
			}

			&:not(.is-active) {
				background-color: transparent;
				color: var(--wf-neutral-neutral-0-black);
			}
		}

		.is-dark & {
			border-color: var(--wf-neutral-neutral-100-white);

			&--before,
			&--after {
				&.is-active {
					background-color: var(--wf-neutral-neutral-100-white);
					color: var(--wf-neutral-neutral-0-black);
				}

				&:not(.is-active) {
					background-color: transparent;
					color: var(--wf-neutral-neutral-100-white);
				}
			}
		}
	}

	&__image-container {
		position: relative;
		width: 100%;
		max-width: rem(1040px);
		border-radius: 8px;
		overflow: hidden;
		aspect-ratio: 976 / 508;

		@include mobile {
			aspect-ratio: 976 / 508;
		}
	}

	&__before-wrapper,
	&__after-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__slider {
		position: absolute;
		top: 0;
		left: 50%; /* Initial position, will be updated by JS */
		z-index: 10;
		cursor: ew-resize;
		width: 5px;
		height: 100%;
		transform: translateX(-50%); /* Center the slider on its position */

		&-line {
			position: absolute;
			top: 0;
			left: 50%;
			width: 5px;
			height: 100%;
			background-color: var(--wf-neutral-neutral-0-black);
			transform: translateX(-50%);
		}

		&-handle {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 54px;
			height: 54px;
			border-radius: 50%;
			background-color: var(--wf-neutral-neutral-0-black);
			transform: translate(-50%, -50%);
			will-change: transform; /* Optimize for animations */

			&-icon {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 24px;
				height: 24px;

				svg {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}
